[AudioSystem]
MaxChannels			= 1000	# FMOD supports up to 4093
DefaultReverb		= "ReverbEldritch"
NumReverbCategories	= &
@ ReverbCategory
@@&					= "SFX"
@@&					= "VO"
NumPauseCategories	= &
@ PauseCategory
@@&					= "SFX"
@@&					= "VO"
@@&					= "HUDSFX"

# Artifically scale vertical attenuation (Eldritch-specific parameter,
# *only* affects occluded sounds, so you can still clearly hear anything
# you can see.
VerticalScalar			= 3.0
# Additional falloff radius multiplied into occluded sounds.
OccludedFalloffRadius	= 20.0

# ******** I3DL2(*) Reverb definitions ********
# (*) FMOD has made their own changes.

[ReverbNone]
DryLevel			= 0.0		# mB, -10000 to 0
Room				= -10000.0	# mB, -10000 to 0
RoomHF				= 0.0		# mB, -10000 to 0
DecayTime			= 1.0		# s, 0.1 to 20.0
DecayHFRatio		= 0.5		# 0.1 to 20.0
ReflectionsLevel	= -10000.0	# mB, -10000 to +1000
ReflectionsDelay	= 0.02		# s, 0.0 to 0.3
ReverbLevel			= 0.0		# mB, -10000 to +2000
ReverbDelay			= 0.04		# s, 0.0 to 0.1
Diffusion			= 100.0		# %, 0 to 100
Density				= 100.0		# %, 0 to 100
HFReference			= 5000.0	# Hz, 20 to 20000
RoomLF				= 0.0		# mB, -10000 to 0
LFReference			= 250.0	# Hz, 20 to 1000

[ReverbEldritch]
SoLoudEchoTime		= 0.15		# s
SoLoudDecayTime		= 1.25		# s
SoLoudFilter		= 0.85		# 0-1, lowpass (slamming to 1 seems to break things)
SoLoudWetDryMix		= 0.75
DryLevel			= 0.0
Room				= -1200.0
RoomHF				= -600.0
DecayTime			= 1.5
DecayHFRatio		= 0.25
ReflectionsLevel	= -1500.0
ReflectionsDelay	= 0.02
ReverbLevel			= 0.0
ReverbDelay			= 0.02
Diffusion			= 100.0
Density				= 100.0
HFReference			= 5000.0
RoomLF				= -1800.0
LFReference			= 250.0

[ReverbGeneric]
DryLevel			= 0.0
Room				= -1000.0
RoomHF				= -100.0
DecayTime			= 1.49
DecayHFRatio		= 0.83
ReflectionsLevel	= -2602.0
ReflectionsDelay	= 0.007
ReverbLevel			= 200.0
ReverbDelay			= 0.011
Diffusion			= 100.0
Density				= 100.0
HFReference			= 5000.0
RoomLF				= 0.0
LFReference			= 250.0

[ReverbRoom]
DryLevel			= 0.0
Room				= -1000.0
RoomHF				= -454.0
DecayTime			= 0.4
DecayHFRatio		= 0.83
ReflectionsLevel	= -1646.0
ReflectionsDelay	= 0.002
ReverbLevel			= 53.0
ReverbDelay			= 0.003
Diffusion			= 100.0
Density				= 100.0
HFReference			= 5000.0
RoomLF				= 0.0
LFReference			= 250.0

[ReverbLivingRoom]
DryLevel			= 0.0
Room				= -1000.0
RoomHF				= -6000.0
DecayTime			= 0.5
DecayHFRatio		= 0.1
ReflectionsLevel	= -1376.0
ReflectionsDelay	= 0.003
ReverbLevel			= -1104.0
ReverbDelay			= 0.004
Diffusion			= 100.0
Density				= 100.0
HFReference			= 5000.0
RoomLF				= 0.0
LFReference			= 250.0

[ReverbStoneCorridor]
DryLevel			= 0.0
Room				= -1000.0
RoomHF				= -237.0
DecayTime			= 2.7
DecayHFRatio		= 0.79
ReflectionsLevel	= -1214.0
ReflectionsDelay	= 0.013
ReverbLevel			= 395.0
ReverbDelay			= 0.02
Diffusion			= 100.0
Density				= 100.0
HFReference			= 5000.0
RoomLF				= 0.0
LFReference			= 250.0

[ReverbQuarry]
DryLevel			= 0.0
Room				= -1000.0
RoomHF				= -1000.0
DecayTime			= 1.49
DecayHFRatio		= 0.83
ReflectionsLevel	= -10000.0
ReflectionsDelay	= 0.061
ReverbLevel			= 500.0
ReverbDelay			= 0.025
Diffusion			= 100.0
Density				= 100.0
HFReference			= 5000.0
RoomLF				= 0.0
LFReference			= 250.0

# ******************************************

[SoundArchetypeLoop]
Category			= "SFX"
Stream				= false
3DSound				= true
ShouldCalcOcclusion	= true
Looping				= true
Volume				= 1.0
FalloffRadius		= 5.0
PanBiasNear			= 0.5
PanBiasFar			= 1.0
PanPower			= 0.5
MinimumAttenuation	= 0.05
RearAttenuation		= 0.5	# NOTE: 1.0 means full rear attenuation

[SoundArchetypeOneShot]
Category			= "SFX"
Stream				= false
3DSound				= true
ShouldCalcOcclusion	= true
Volume				= 1.0
FalloffRadius		= 5.0
PanBiasNear			= 0.5
PanBiasFar			= 1.0
PanPower			= 0.5
MinimumAttenuation	= 0.05
RearAttenuation		= 0.5	# NOTE: 1.0 means full rear attenuation

[SoundArchetypeBark]
Category			= "VO"
Stream				= true
3DSound				= true
ShouldCalcOcclusion	= true
Volume				= 1.0
FalloffRadius		= 5.0
PanBiasNear			= 0.5
PanBiasFar			= 1.0
PanPower			= 0.5
MinimumAttenuation	= 0.05
RearAttenuation		= 0.5	# NOTE: 1.0 means full rear attenuation

[SoundArchetypePlayerBark]
Category			= "VO"
Stream				= false
3DSound				= false
Volume				= 1.0

[SoundArchetypePlayerSound]
Category			= "SFX"
Stream				= false
3DSound				= false
Volume				= 1.0

[SoundArchetypeMusic]
Category			= "Music"
Stream				= true
3DSound				= false
Volume				= 1.0
Looping				= true

[SoundArchetypeUI]
Category			= "UI"
Stream				= false
3DSound				= false
Volume				= 1.0

[VO_Fishman_Ambient]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-fishman-ambient-1.ogg"
@@&			= "Audio/vo-fishman-ambient-2.ogg"

[VO_Fishman_Search]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-fishman-search-1.ogg"
@@&			= "Audio/vo-fishman-search-2.ogg"
@@&			= "Audio/vo-fishman-search-3.ogg"

[VO_Fishman_Combat]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-fishman-combat-1.ogg"
@@&			= "Audio/vo-fishman-combat-2.ogg"
@@&			= "Audio/vo-fishman-combat-3.ogg"
@@&			= "Audio/vo-fishman-combat-4.ogg"

[VO_Fishman_Attack]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-fishman-attack-1.ogg"
@@&			= "Audio/vo-fishman-attack-2.ogg"
@@&			= "Audio/vo-fishman-attack-3.ogg"

[VO_Fishman_Damaged]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-fishman-damaged-1.ogg"
@@&			= "Audio/vo-fishman-damaged-2.ogg"
@@&			= "Audio/vo-fishman-damaged-3.ogg"

[VO_Cultist_Ambient]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-cultist-ambient-1.ogg"
@@&			= "Audio/vo-cultist-ambient-2.ogg"
@@&			= "Audio/vo-cultist-ambient-3.ogg"

[VO_Cultist_Search]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-cultist-search-1.ogg"
@@&			= "Audio/vo-cultist-search-2.ogg"
@@&			= "Audio/vo-cultist-search-3.ogg"
@@&			= "Audio/vo-cultist-search-4.ogg"
@@&			= "Audio/vo-cultist-search-5.ogg"

[VO_Cultist_Combat]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-cultist-combat-1.ogg"

[VO_Cultist_Attack]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-cultist-attack-1.ogg"
@@&			= "Audio/vo-cultist-attack-2.ogg"
@@&			= "Audio/vo-cultist-attack-3.ogg"

[VO_Cultist_Damaged]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-cultist-damaged-1.ogg"
@@&			= "Audio/vo-cultist-damaged-2.ogg"
@@&			= "Audio/vo-cultist-damaged-3.ogg"

[VO_Eye_Ambient]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-eye-ambient-1.ogg"
@@&			= "Audio/vo-eye-ambient-2.ogg"

[VO_Eye_Search]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-eye-search-1.ogg"
@@&			= "Audio/vo-eye-search-2.ogg"
@@&			= "Audio/vo-eye-search-3.ogg"
@@&			= "Audio/vo-eye-search-4.ogg"
@@&			= "Audio/vo-eye-search-5.ogg"

[VO_Eye_Combat]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-eye-combat-1.ogg"

[VO_Eye_Attack]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-eye-attack-1.ogg"

[VO_Eye_Damaged]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-eye-damaged-1.ogg"
@@&			= "Audio/vo-eye-damaged-2.ogg"

[VO_Lizardman_Ambient]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-lizardman-ambient-1.ogg"
@@&			= "Audio/vo-lizardman-ambient-2.ogg"
@@&			= "Audio/vo-lizardman-ambient-3.ogg"

[VO_Lizardman_Search]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-lizardman-search-1.ogg"
@@&			= "Audio/vo-lizardman-search-2.ogg"
@@&			= "Audio/vo-lizardman-search-3.ogg"

[VO_Lizardman_Combat]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-lizardman-combat-1.ogg"
@@&			= "Audio/vo-lizardman-combat-2.ogg"
@@&			= "Audio/vo-lizardman-combat-3.ogg"
@@&			= "Audio/vo-lizardman-combat-4.ogg"

[VO_Lizardman_Attack]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-lizardman-attack-1.ogg"
@@&			= "Audio/vo-lizardman-attack-2.ogg"
@@&			= "Audio/vo-lizardman-attack-3.ogg"

[VO_Lizardman_Damaged]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-lizardman-damaged-1.ogg"
@@&			= "Audio/vo-lizardman-damaged-2.ogg"
@@&			= "Audio/vo-lizardman-damaged-3.ogg"
@@&			= "Audio/vo-lizardman-damaged-4.ogg"

[VO_Mummy_Ambient]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-mummy-ambient-1.ogg"
@@&			= "Audio/vo-mummy-ambient-2.ogg"

[VO_Mummy_Search]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-mummy-search-1.ogg"
@@&			= "Audio/vo-mummy-search-2.ogg"

[VO_Mummy_Combat]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-mummy-combat-1.ogg"
@@&			= "Audio/vo-mummy-combat-2.ogg"
@@&			= "Audio/vo-mummy-combat-3.ogg"

[VO_Mummy_Attack]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-mummy-attack-1.ogg"
@@&			= "Audio/vo-mummy-attack-2.ogg"

[VO_Mummy_Damaged]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-mummy-damaged-1.ogg"
@@&			= "Audio/vo-mummy-damaged-2.ogg"
@@&			= "Audio/vo-mummy-damaged-3.ogg"

[VO_Squidman_Ambient]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-squidman-ambient-1.ogg"
@@&			= "Audio/vo-squidman-ambient-2.ogg"

[VO_Squidman_Search]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-squidman-search-1.ogg"
@@&			= "Audio/vo-squidman-search-2.ogg"

[VO_Squidman_Combat]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-squidman-combat-1.ogg"
@@&			= "Audio/vo-squidman-combat-2.ogg"
@@&			= "Audio/vo-squidman-combat-3.ogg"
@@&			= "Audio/vo-squidman-combat-4.ogg"

[VO_Squidman_Attack]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-squidman-attack-1.ogg"
@@&			= "Audio/vo-squidman-attack-2.ogg"

[VO_Squidman_Damaged]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-squidman-damaged-1.ogg"
@@&			= "Audio/vo-squidman-damaged-2.ogg"

[VO_Squidman_Sleeping]
Extends		= "SoundArchetypeBark"
Volume		= 0.7
NumSources	= &
@ Source
@@&			= "Audio/vo-squidman-sleep-1.ogg"
@@&			= "Audio/vo-squidman-sleep-2.ogg"
@@&			= "Audio/vo-squidman-sleep-3.ogg"

[VO_Polyp_Ambient]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-polyp-ambient-1.ogg"
@@&			= "Audio/vo-polyp-ambient-2.ogg"

[VO_Polyp_Search]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-polyp-search-1.ogg"
@@&			= "Audio/vo-polyp-search-2.ogg"

[VO_Polyp_Combat]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-polyp-combat-1.ogg"
@@&			= "Audio/vo-polyp-combat-2.ogg"

[VO_Polyp_Attack]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-polyp-attack-1.ogg"
@@&			= "Audio/vo-polyp-attack-2.ogg"

[VO_Polyp_Damaged]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-polyp-damaged-1.ogg"
@@&			= "Audio/vo-polyp-damaged-2.ogg"

[Bark_HearWorm_Threaten]
Extends				= "SoundArchetypeBark"
Source				= "Audio/hearworm.ogg"
FalloffRadius		= 2.0

[ElderThingFootstepSound]
Extends			= "SoundArchetypeOneShot"
Source			= "Audio/elder-thing-footstep.ogg"
Volume			= 0.8
FalloffRadius	= 1.0

[VO_ElderThing_Ambient]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-polyp-ambient-1.ogg"
@@&			= "Audio/vo-polyp-ambient-2.ogg"

[VO_ElderThing_Search]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-polyp-search-1.ogg"
@@&			= "Audio/vo-polyp-search-2.ogg"

[VO_ElderThing_Combat]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-polyp-combat-1.ogg"
@@&			= "Audio/vo-polyp-combat-2.ogg"

[VO_ElderThing_Attack]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-polyp-attack-1.ogg"
@@&			= "Audio/vo-polyp-attack-2.ogg"

[VO_ElderThing_Damaged]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-polyp-damaged-1.ogg"
@@&			= "Audio/vo-polyp-damaged-2.ogg"

[MigoFootstepSound]
Extends			= "SoundArchetypeOneShot"
NumSources		= &
@ Source
@@&				= "Audio/mi-go-footstep-1.ogg"
@@&				= "Audio/mi-go-footstep-2.ogg"
@@&				= "Audio/mi-go-footstep-3.ogg"
FalloffRadius	= 1.5

[MigoExplodeSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/barnacle-burst.ogg"

[VO_Migo_Ambient]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-lizardman-ambient-1.ogg"
@@&			= "Audio/vo-lizardman-ambient-2.ogg"
@@&			= "Audio/vo-lizardman-ambient-3.ogg"

[VO_Migo_Search]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-lizardman-search-1.ogg"
@@&			= "Audio/vo-lizardman-search-2.ogg"
@@&			= "Audio/vo-lizardman-search-3.ogg"

[VO_Migo_Combat]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-lizardman-combat-1.ogg"
@@&			= "Audio/vo-lizardman-combat-2.ogg"
@@&			= "Audio/vo-lizardman-combat-3.ogg"
@@&			= "Audio/vo-lizardman-combat-4.ogg"

[VO_Migo_Attack]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-lizardman-attack-1.ogg"
@@&			= "Audio/vo-lizardman-attack-2.ogg"
@@&			= "Audio/vo-lizardman-attack-3.ogg"

[VO_Migo_Damaged]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-lizardman-damaged-1.ogg"
@@&			= "Audio/vo-lizardman-damaged-2.ogg"
@@&			= "Audio/vo-lizardman-damaged-3.ogg"
@@&			= "Audio/vo-lizardman-damaged-4.ogg"

[YogAmbientSound]
Extends			= "SoundArchetypeLoop"
Stream			= true
Source			= "Audio/yog.ogg"
FalloffRadius	= 3.0

# ASYTODO: New sound?
[AzathothAmbientSound]
Extends			= "SoundArchetypeLoop"
Stream			= true
Source			= "Audio/yog.ogg"
FalloffRadius	= 3.0

[VO_Penguin_Ambient]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-penguin-ambient-1.ogg"
@@&			= "Audio/vo-penguin-ambient-2.ogg"

[VO_Penguin_Search]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-penguin-search-1.ogg"
@@&			= "Audio/vo-penguin-search-2.ogg"

[VO_Penguin_Combat]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-penguin-combat-1.ogg"
@@&			= "Audio/vo-penguin-combat-2.ogg"

[VO_Penguin_Attack]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-penguin-attack-1.ogg"
@@&			= "Audio/vo-penguin-attack-2.ogg"

[VO_Penguin_Damaged]
Extends		= "SoundArchetypeBark"
NumSources	= &
@ Source
@@&			= "Audio/vo-penguin-damaged-1.ogg"
@@&			= "Audio/vo-penguin-damaged-2.ogg"

[PenguinFootstepSound]
Extends			= "SoundArchetypeOneShot"
FalloffRadius	= 1.0
NumSources		= &
@ Source
@@&				= "Audio/footstep-1.ogg"
@@&				= "Audio/footstep-2.ogg"
@@&				= "Audio/footstep-3.ogg"
@@&				= "Audio/footstep-4.ogg"
@@&				= "Audio/footstep-5.ogg"

[TestFootstepSound]
Extends			= "SoundArchetypeOneShot"
Volume			= 0.8
FalloffRadius	= 1.0
NumSources		= &
@ Source
@@&				= "Audio/footstep-1.ogg"
@@&				= "Audio/footstep-2.ogg"
@@&				= "Audio/footstep-3.ogg"
@@&				= "Audio/footstep-4.ogg"
@@&				= "Audio/footstep-5.ogg"

[FrogFootstepSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/frog-footstep.wav"
FalloffRadius		= 1.0

[FrogmanHeadSlamSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/frogman-head-slam.ogg"
FalloffRadius		= 2.0

[CultistFootstepSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/cultist-footstep.ogg"
FalloffRadius		= 1.0

[BugFootstepSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/bug-footstep.ogg"
FalloffRadius		= 1.0

[EyeDamagedSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/eye-splat.ogg"
FalloffRadius		= 1.0

[ShoggothAmbientSound]
Extends				= "SoundArchetypeLoop"
Stream				= true
Source				= "Audio/shoggoth.ogg"
FalloffRadius		= 8.0

[Bark_Shoggoth_Combat]
Extends				= "SoundArchetypeBark"
Source				= "Audio/shoggoth-attack.ogg"

[RockCollidedSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/rock-hit.wav"
FalloffRadius		= 1.0

[BottleBreakSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/glass-break-small.ogg"
FalloffRadius		= 1.0

[VaseBurstSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/glass-break-small.ogg"
FalloffRadius		= 1.0

[Sound_LittleJackBurst]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/eye-splat.ogg"
FalloffRadius		= 1.0

[DamagedWomanSound]
Extends				= "SoundArchetypePlayerBark"
Source				= "Audio/damaged-woman.ogg"

[DamagedManSound]
Extends				= "SoundArchetypePlayerBark"
Source				= "Audio/damaged-man.ogg"

[PlayerPunchSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/punch.ogg"
Volume				= 0.7

[PlayerDaggerSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/dagger.ogg"
Volume				= 0.8

[PlayerDaggerWhiffSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/dagger-whiff.ogg"
Volume				= 0.8

[PlayerHatchetSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/dagger.ogg"
Volume				= 0.8

[PlayerHatchetWhiffSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/dagger-whiff.ogg"
Volume				= 0.8

[PlayerPickaxeSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/dagger.ogg"
Volume				= 0.8

[PlayerPickaxeWhiffSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/dagger-whiff.ogg"
Volume				= 0.8

[RevolverFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/revolver-fire.ogg"
Volume				= 0.4

# Rm
[FlintlockFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/flintlock-fire.ogg"
Volume				= 0.4
# Rm

[SnaregunFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/snaregun-fire.ogg"
Volume				= 0.8

[RopegunFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/snaregun-fire.ogg"
Volume				= 0.8

[TrapBoltFireSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/revolver-fire.ogg"
Volume				= 0.4

[TrapBoltDisarmSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/disarm.ogg"

[HypnotizeFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/hypnotize.ogg"
Volume				= 0.4

# Rm
[BlastFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-knock.ogg"
Volume				= 0.4
# Rm

[CloakFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-cloak.ogg"
Volume				= 0.4

# Rm
[CloakEndSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-cloak-end.ogg"
Volume				= 0.4
# Rm

[SummonFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-summon.ogg"
Volume				= 0.4

[LiftFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-jump.ogg"
Volume				= 0.4

[BuildFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-build.ogg"
Volume				= 0.4

[KnockFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-knock.ogg"
Volume				= 0.4

[KnockHitSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/power-knock-hit.ogg"
FalloffRadius		= 10.0

[TeleportFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-teleport.ogg"
Volume				= 0.4

[FlareFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-flare.ogg"
Volume				= 0.4

[SoulTrapFireSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-soultrap.ogg"
Volume				= 0.4

[PowerBrokeSound]
Extends				= "SoundArchetypePlayerSound"
Source				= "Audio/power-broke.ogg"
Volume				= 0.4

[ExplosionSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/explosion.ogg"
Volume				= 0.8

[TorchSound]
Extends				= "SoundArchetypeLoop"
ShouldCalcOcclusion	= false
Source				= "Audio/fire-loop.ogg"
Volume				= 0.2
FalloffRadius		= 0.5
RearAttenuation		= 0.7

[CampfireAmbientSound]
Extends				= "SoundArchetypeLoop"
Source				= "Audio/fire-loop.ogg"
Volume				= 0.5
FalloffRadius		= 4.0

[FountainAmbientSound]
Extends				= "SoundArchetypeLoop"
Source				= "Audio/fountain-ambient.ogg"
Volume				= 0.6
FalloffRadius		= 4.0

# Rm
[FountainBloodSound]
Extends				= "SoundArchetypeLoop"
Source				= "Audio/fountain-blood.ogg"
Volume				= 0.6
FalloffRadius		= 3.0
# Rm

[SinkSound]
Extends				= "SoundArchetypeLoop"
Source				= "Audio/sink.ogg"
Volume				= 0.5

[ToiletSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/toilet.ogg"
Volume				= 0.6

[DeskLampOnSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/switch-on.ogg"
Volume				= 0.5

[DeskLampOffSound]
Extends				= "SoundArchetypeOneShot"
Source				= "Audio/switch-off.ogg"
Volume				= 0.5

[ProjectileSound]
Extends				= "SoundArchetypeLoop"
ShouldCalcOcclusion	= false
Source				= "Audio/fire-loop.ogg"
Volume				= 1.0
FalloffRadius		= 0.5
PanBiasNear			= 0.25
PanBiasFar			= 0.5

[DoorOpenSound]
Extends		= "SoundArchetypeOneShot"
Volume		= 0.8
NumSources	= &
@ Source
@@&			= "Audio/door-open-1.ogg"
@@&			= "Audio/door-open-2.ogg"

[DoorCloseSound]
Extends		= "SoundArchetypeOneShot"
Volume		= 0.8
NumSources	= &
@ Source
@@&			= "Audio/door-close-1.ogg"
@@&			= "Audio/door-close-2.ogg"

[DoorUnlockSound]
Extends		= "SoundArchetypeOneShot"
Volume		= 0.8
NumSources	= &
@ Source
@@&			= "Audio/door-unlock-1.ogg"
@@&			= "Audio/door-unlock-2.ogg"

[DoorLockSound]
Extends		= "SoundArchetypeOneShot"
Volume		= 0.8
NumSources	= &
@ Source
@@&			= "Audio/door-lock-1.ogg"
@@&			= "Audio/door-lock-2.ogg"

[DoorLockedSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/door-locked.ogg"

[LooseTileSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/loose-tile.ogg"

[IcicleDropSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/icicle-drop.ogg"

[IcicleBreakSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/icicle-break.ogg"

[DynamiteFuseSound]
Extends		= "SoundArchetypeLoop"
Volume		= 0.5
Source		= "Audio/dynamite-fuse.ogg"

[DynamiteExplosionSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/dynamite-explosion.ogg"

[BarnacleBurstSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/barnacle-burst.ogg"

[WatsonActivateSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/watson-activate.ogg"

[WatsonPrimeSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/watson-prime.ogg"

[WatsonTeleportSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/watson-teleport.ogg"

[ArtifactSound]
Extends		= "SoundArchetypePlayerSound"
Source		= "Audio/artifact.ogg"

[FountainSound]
Extends		= "SoundArchetypePlayerSound"
Source		= "Audio/fountain.ogg"

[PlantSound]
Extends		= "SoundArchetypePlayerSound"
NumSources	= &
@ Source
@@&			= "Audio/fruit-1.ogg"
@@&			= "Audio/fruit-2.ogg"

[KeySound]
Extends		= "SoundArchetypePlayerSound"
Source		= "Audio/key.ogg"

[LootSound]
Extends		= "SoundArchetypePlayerSound"
Source		= "Audio/loot-corpse.ogg"
Volume		= 0.8

[MeatSound]
Extends		= "SoundArchetypePlayerSound"
Source		= "Audio/meat.ogg"

[CandleSound]
Extends		= "SoundArchetypePlayerSound"
Source		= "Audio/candle.ogg"

[SoulSound]
Extends		= "SoundArchetypePlayerSound"
Source		= "Audio/soul.ogg"

[PlacedWaterSoulSound]
Extends		= "SoundArchetypePlayerSound"
Source		= "Audio/soul-chord-water.ogg"
Volume		= 0.5

[PlacedSandSoulSound]
Extends		= "SoundArchetypePlayerSound"
Source		= "Audio/soul-chord-sand.ogg"
Volume		= 0.5

[PlacedSwampSoulSound]
Extends		= "SoundArchetypePlayerSound"
Source		= "Audio/soul-chord-swamp.ogg"
Volume		= 0.5

[LibraryExitSound]
Extends		= "SoundArchetypeOneShot"
Source		= "Audio/library-exit.ogg"

[AsylumPortal_Sound]
Extends			= "SoundArchetypeLoop"
Source			= "Audio/fire-loop.ogg"
Volume			= 0.7
FalloffRadius	= 6.0

[Music_Library]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-library.ogg"
Looping				= false
Volume				= 0.6

[Music_Water-1]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-water-1.ogg"
Volume				= 0.25

[Music_Water-2]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-water-2.ogg"
Volume				= 0.15

[Music_Sand-1]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-sand-1.ogg"
Volume				= 0.2

[Music_Sand-2]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-sand-2.ogg"
Volume				= 0.25

[Music_Swamp-1]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-swamp-1.ogg"
Volume				= 0.35

[Music_Swamp-2]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-swamp-2.ogg"
Volume				= 0.2

[Music_Endgame-1]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-endgame-1.ogg"
Volume				= 0.25

[Music_Endgame-2]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-endgame-2.ogg"
Volume				= 0.4

[Music_Ending]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-ending.ogg"
Looping				= false
Volume				= 0.6

[Music_MoM_Snow]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-mom-skittering.ogg"
Volume				= 0.5

[Music_MoM_City]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-mom-whispering.ogg"
Volume				= 0.5

[Music_MoM_Caves]
Extends				= "SoundArchetypeMusic"
Source				= "Audio/music-mom-existing.ogg"
Volume				= 0.5

[Music_Asylum-1]
Extends		= "SoundArchetypeMusic"
Source		= "Audio/music-asylum-1.ogg"
Volume		= 0.4

[TitlePressStartSound]
Extends		= "SoundArchetypeUI"
Source		= "Audio/watson-prime.ogg"
Volume		= 0.3