[Georgian]
True = "ჩართ"
False = "განრთ"
OK = "კი"
Yes = "დიახ"
No = "არა"
Play = "თამაში"
Options = "მომართვა"
Quit = "გასვლა"
PressStart = "დააჭირეთ Enter-ს"
Rm_PressStart = "დააჭირეთ #{n:EldritchInput:TitleStart}"
ConfirmQuit = "გასვლა?"
ConfirmSaveAndQuit = "გსურთ შენახვა და გასვლა?"
Version = "აწყობა #{s:ContentSyncer:Version}"
CurrentLanguage = "ენა: #{l:Language}"
Language = "ენა"
BindControls = "ღილაკების მიბმა"
Controls = "მართვა"
Display = "გამოსახულება"
Audio = "ხმა"
MouseSpeed = "თაგვის მგრძნობელობა:"
ControllerSpeed = "ჯოხების მგრძნობელობა:"
InvertY = "Y გადაბრუნება: #{b:InvertY}"
Resolution = "გარჩევადობა: #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "გარჩევადობა"
Fullscreen = "მთელს ეკრანზე: #{b:Fullscreen}"
Brightness = "სიკაშკაშე"
FOV = "ხედვის კუთხე: #{i:DisplayedFOV}"
Volume = "ხმის დონე:"
MusicVolume = "მუსიკის დონე:"
Back = "უკან"
BindForward = "სვლა წინ:"
BindBack = "სვლა უკან:"
BindLeft = "სვლა მარცხნივ:"
BindRight = "სვლა მარჯვნივ:"
BindJump = "ახტომა:"
BindFrob = "გამოყენება:"
BindLeanLeft = "დახრა მარცხნივ:"
BindLeanRight = "დახრა მარჯვნივ:"
BindRun = "სირბილი:"
BindCrouch = "ჩაჯდომა:"
BindUseWeapon = "გასროლა:"
BindUsePower = "მოჯადოება:"
BindDropWeapon = "იარაღის დაგდება:"
BindCycleUp = "წინა იარაღი:"
BindCycleDown = "შემდეგი იარაღი:"
BindDialog = "მიბმისთვის, დააჭირეთ ღილაკს.\nგაუქმებისთვის, დააჭირეთ Esc-ს.\nმიბმის მოშორებისთვის, დააჭირეთ Backspace-ს."
Rm_BindDialog = "მიბმისთვის, დააჭირეთ ღილაკს.\nგაუქმებისთვის, დააჭირეთ Esc-ს."
Paused = "შეჩერებული"
Resume = "გაგრძელება"
ReturnToHub = "დაბრუნება ბიბლიოთეკაში"
Resurrect = "გაცოცხლება"
SaveAndQuit = "შენახვა და გასვლა"
Death = "სიკვდილი გეწვია..."
ConfirmResurrect = "გაცოცხლება გსურთ? (დაკარგავთ\nმიმდინარე წინსვლას.)"
Souls = "სულები"
Gear = "ხელსაწყოები"
PowerHypnotize = "ჰიპნოზი"
PowerBuild = "გაჩენა"
PowerLift = "აწევა"
PowerKnock = "დარტყმა"
PowerTeleport = "ტელეპორტი"
PowerCloak = "მოსასხამი"
BankPlayer = "მოთამაშე"
BankBank = "ბანკი"
Price = "ფასი:"
Buy = "ყიდვა"
Steal = "მოპარვა"
Cancel = "გაუქმება"
Dying = "სიკვდილის პირას ხარ..."
Revive = "აღორძინება"
FrobHold = "გეჭიროს #{n:EldritchInput:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|RIP| მე %s %s."
RIPDmgUnknown = "მოვკვდი"
RIPDmgResurrect = "დავნებდი"
RIPDmgPlayer = "დავუშვი შეცდომა"
RIPDmgSpikes = "დავეცი ლურსმნიან ხაფანგზე"
RIPDmgBarnacle = "გავაბრაზე გიგანტური კიბო"
RIPDmgFishmanMelee = "მცემა კაცთევზამ"
RIPDmgFishmanRanged = "მესროლა კაცთევზამ"
RIPDmgDCultistMelee = "მცემა გაწუწულმა კულტისტმა"
RIPDmgDCultistRanged = "მესროლა გაწუწულმა კულტისტმა"
RIPDmgNCultistMelee = "მცემა ქვიშიანმა კულტისტმა"
RIPDmgNCultistRanged = "მესროლა ქვიშიანმა კულტისტმა"
RIPDmgRCultistMelee = "მცემა ლორწოვანმა კულტისტმა"
RIPDmgRCultistRanged = "მესროლა ლორწოვანმა კულტისტმა"
RIPDmgLizardmanMelee = "მცემა კაცხვლიკამ"
RIPDmgLizardmanRanged = "მესროლა კაცხვლიკამ"
RIPDmgEye = "მესროლა მფრინავმა თვალმა"
RIPDmgShoggoth = "გადამიარა შეუჩერებელმა შოგოთმა"
RIPDmgLizardWatson = "ზურგი შევაქციე ჟრუანტელის მომგვრელ ქანდაკებას"
RIPDmgMummy = "შემჭამა აყროლებულმა მუმიამ"
RIPDmgSquidmanMelee = "მოკვდა ვარსკვლავის-შვილის ცემით"
RIPDmgSquidmanRanged = "მოკვდა ვარსკვლავის-შვილის ნასროლით"
RIPDmgPolyp = "მოკვდა მფრინავი პოლიპის ნასროლით"
RIPDmgBugMelee = "მოკვდა ხოჭოს ნაკბენისგან"
RIPDmgBugRanged = "მოკვდა ხოჭოს ნასროლით"
RIPDmgFoodPoisoning = "მოიწამლა გაფუჭებული საჭმლით"
RIPDmgShopkeeper = "ვერ შეაფასა გამყიდველის ძალები"
RIPDmgTrapBolt = "დაიჭრა მავთულიან მახეში"
RIPLvlUnknown = "უკაცურ ადგილას"
RIPLvlLibrary = "იდუმალ ბიბლიოთეკაში"
RIPLvlEndgame = "წარმოუდგენლად ვრცელ ბიბლიოთეკაში"
RIPLvlWater = "დაგონელების შავბნელ ნანგრევებში"
RIPLvlSand = "ნიარლათოტეპოს  მტვრიან ტაძარში"
RIPLvlSwamp = "რ'ლაეჰის დაკარგულ ქალაქში"
RIPLvlSubspace = "უცნაურ და ბნელ ადგილას
JumpBoots = "ხტუნვის ჩექმები"
JumpBootsDesc = "ეს ჩექმები გაძლევენ მაღლა ხტუნვის საშუალებას."
SpeedBoots = "სიჩქარის ჩექმები"
SpeedBootsDesc = "ეს ჩექმები გაძლევენ სწრაფი სირბილის საშუალებას."
QuietBoots = "ფარული ჩექმები"
QuietBootsDesc = "ეს ჩექმები გაძლევენ უხმოდ სიარულის საშუალებას."
LocksmithKit = "ზეინკლის აღჭურვილობა"
LocksmithKitDesc = "საშუალებას გაძლევს გააღო ან ჩაკეტო კარები მცირე გადასახადის სანაცვლოდ."
MedicalKit = "ექთნის აღჭურვილობა"
MedicalKitDesc = "გაძლევს გაცოცხლების საშუალებას სიკვდილის შემთხვევაში, მცირე გადასახადის სანაცვლოდ."
TinningKit = "საკონსერვო აღჭურვილობა"
TinningKitDesc = "გაძლევს საშუალებას შეჭამო ზოგიერთი არსების ნარჩენი, დამატებითი გადასახადის სანაცვლოდ."
Bottle = "ბოთლი"
BottleDesc = "ისროლე ხმაურის გამოსაწვევად, ან მტრის დაჭრისთვის."
Revolver = "რევოლვერი"
RevolverDesc = "სანდო ცეცხლსასროლი იარაღი. საჭიროებს ტყვიებს. საფასურში შედის 3 ტყვია."
Snaregun = "მახის გამსროლი"
SnaregunDesc = "გაისვრის ბაწრის მახეს. ის მაგრდება ნებისმიერ ზედაპირზე და საჭიროებს 3 ტყვიას."
Compass = "კომპასი"
CompassDesc = "გიჩვენებს გასასვლელის მდებარეობას."
Charm = "იღბლიანი თილისმა"
CharmDesc = "ამ თილისმით მტრების სხეულებზე იპოვი უფრო მეტ ნივთს."
Amulet = "მოსპობის თილისმა"
AmuletDesc = "აძლიერებს იარაღით მიყენებულ ზიანს. ტყვიებს შეუძლია გარემოს დანგრევა."
Talisman = "ჯადოქრის თილისმა"
TalismanDesc = "ამცირებს მოჯადოებისთვის საჭირო არტეფაქტების ოდენობას."
Key = "გასაღები"
KeyDesc = "აღებს ჩაკეტილ კარს. გამოიყენება ერთჯერადად."
Dagger = "ხანჯალი"
DaggerDesc = "ორპირიანი საბრძოლო დანა. უფრო შორს წვდება და მძიმე ზიანს აყენებს ვიდრე მუშტი."
Dynamite = "დინამიტი"
DynamiteDesc = "ნიტროგლიცერინის ჯოხების შეკვრა. ფეთქებადი და მეტად არამდგრადი!"
MeatDesc = "აღადგენს ჯანმრთელობის ნაწილს."
Corpse = "ცხედარი"
Shopkeeper = "გამყიდველი"
WaterSoul = "დაგონის სული"
SandSoul = "ნიარლათოტეპის სული"
SwampSoul = "ქთულჰუს სული"
HardSoul = "მეწიგნეს სული"
Rock = "ქვა"
Chest = "ბანკის სკივრი"
ExitDoor = "გასასვლელი"
ExitDoorUp = "შესასვლელი"
Book = "წიგნი"
WorldBook = "უცნაური წიგნი"
SubspaceBook = "მტვრიანი წიგნი"
Door = "კარი"
LockedDoor = "ჩაკეტილი კარი"
GateDoor = "ჩაკეტილი რკინის კარი"
UnlockedGateDoor = "რკინის კარი"
Mirror = "სარკე"
DeskLamp = "მაგიდის ნათურა"
Toilet = "ტუალეტი"
Sink = "ნიჟარა"
Artifact = "არტეფაქტი"
Artifact5 = "არტეფაქტთა გროვა"
StatueHypnotize = "ჰიპნოზური ქანდაკება"
StatueCloak = "სუდარგახვეული ქანდაკება"
StatueBuild = "მდგრადი ქანდაკება"
StatueLift = "დრეკადი ქანდაკება"
StatueKnock = "რეზონანტული ქანდაკება"
StatueTeleport = "არამდგრადი ქანდაკება"
Meat = "შემწვარი ხორცი"
BadMeat = "აყროლებული ხორცი"
Fountain = "შადრევანი"
Pedestal = "საყრდენი"
Plant = "ხილი"
PlantToxic = "ამჟავებული ხილი"
HolySymbol = "წმინდა სიმბოლო"
ConsecrationKit = "მიმდევრის აღჭურვილობა"
Sandals = "სანდლები"
Candle = "სანთელი"
RitualBook = "მიბმის რიტუალი"
FullGame = "სრული თამაში"
PickUp = "აღება"
Examine = "გასინჯვა"
Loot = "გაძარცვა"
Read = "წაკითხვა"
Eat = "შეჭმა"
EatUnsure = "...შეჭამ?"
EatCorpse = "შეჭმა (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "საკეტი (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "წასვლა"
Return = "დაბრუნება"
Pray = "ლოცვა"
Open = "გახსნა"
Close = "დახურვა"
Quaff = "დალევა"
Disarm = "დაშლა"
Light = "ანთება"
Switch = "გადართვა"
Flush = "ჩარეცხვა"
Use = "გამოყენება"
Talk = "საუბარი"
World = "სამყარო"
WorldName = "#{l:HUD:WorldName}"
Level_Library = "ბიბლიოთეკა"
Level_Water-1 = "დაგონი-1"
Level_Water-2 = "დაგონი-2"
Level_Water-3 = "დაგონი-3"
Level_Sand-1 = "ნიარლათოტეპი-1"
Level_Sand-2 = "ნიარლათოტეპი-2"
Level_Sand-3 = "ნიარლათოტეპი-3"
Level_Swamp-1 = "რ'ლაეჰ-1"
Level_Swamp-2 = "რ'ლაეჰ-2"
Level_Swamp-3 = "რ'ლაეჰ-3"
Level_Endgame-1 = "ბიბლიოთეკა-1"
Level_Endgame-2 = "ბიბლიოთეკა-2"
Level_Endgame-3 = "ბიბლიოთეკა-3"
Level_Subspace = "???????"
Credits = "ავტორები"
Book_Controls = "მართვა\n\nთუ მართვის ნაგულისხმები წესები არ \nმოგწონთ, შეგიძლიათ შეცვალოთ ისინი მომართვის მენიუში."
Book_Keys = "გასაღები\n\nგასაღებები გამოიყენება ჩაკეტილი კარების გაღებისთვის.\n\nთითოეული გასაღები ერთჯერადია."
Book_Statue = "ქანდაკებები\n\nეს უზარმაზარი ქვის კერპები განასახიერებენ \nრაღაც საშინელ არსებას.\n\nკერპთან ლოცვისთვის, ძველთაძველებისაგან მოგეცემა \nგანსაკუთრებული ძალები."
Book_Food = "საკვები\n\nსაჭმლის მიღებით აღიდგენ ჯანმრთელობას.\n\nიფრთხილე! თუ შეჭამ გაფუჭებულ საჭმელს - \nმოიწამლები."
Book_Fountain = "შადრევნები\n\nშადრევნის წყლის დალევა აღადგენს\nჯანმრთელობას და გიმატებს მაქსიმალურ ჯანს.\n\nშადრევანი გაშრება მისი გამოყენების შემდეგ."
Book_Ledger = "უძველესთა ბიბლიოთეკა\nგატანის აღრიცხვა\n\nნივთი.   | გამტანის სახელი   | თარიღი\n---------------------------------------\n  9713   | J. K. Pippen      | 10/12/26\n  5576   | Kim Putnam        | 10/15/26\n  4185   | Ken Thudson, Esq. | 12/ 3/26\n  6287   | Kynan Wales       |  1/29/27\n  0451   | F. B. Gaynor      |  2/ 4/27\n  2934   | Stuart Jameson    |  2/15/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "მოგზაურის დღიური, გვერდი 2\n\nეს ბიბლიოთეკა უსასრულოა... აღარ მგონია რომ აქედან გასასვლელს ვიპოვი. ისეთი შეგრძნება მაქვს, ვითომ ჩემი ცხოვრება მეორდება, დღიდან დღემდე, ყოველდღე, გაუთავებლად.\n\nთუ ამ საგიჟეთიდან ოდესმე გავაღწევ, ეს ალბათ მოხდება ამ უხამსი მნათი წიგნების მეშვეობით. ამ ფურცლებში წარმოუდგენელი ძალაა დამალული, ის და აუწერელი საშინელება...\n\nწიგნების გულში იმალებიან ძველისძველი ღვთაებების მძინარე სულები. არ ვიცი ზუსტად რატომ, მაგრამ მგონია რომ მათი ძალების ერთად თავმოყრა იქნება ჩემი მხსნელი ამ უკაცრიელი ლაბირინთისგან..."
Book_Journal2 = "მოგზაურის დღიური, გვერდი 1\n\nრაღაც უჩვეულო დამემართა. ვგრძნობ, რომ საჭიროა დავწერო ამის შესახებ, იმ შემთხვევისთვის რომ არ დავბრუნდე.\n\nბოლო რაც მახსოვს არის ის საკვირველი წიგნი ბიბილიოთეკაში... ახლა კი თავი აღმოვაჩინე სახიფათო სამყაროში, რომელიც სავსეა ურჩხულებითა და ხაფანგებით.\n\nთუ ჩემი კვლევა მართალია, ამჟამად ვიმყოფები ძველისძველი ღმერთი დაგონის დაკარგულ ტაძარში. ამბობენ, რომ ამ სამყაროს შუაგულში დამალულია ძლიერი რელიქვია. შეიძლება მის მეშვეობით შევძლებ აქედან თავის დაღწევას..."
Book_Journal3 = "მოგზაურის დღიური, გვერდი 3\n\nოჰ, ღმერთო, არა. არ ვიცოდი რას ჩავდიოდი.\n\nბიბლიოთეკიდან კი გავაღწიე, მაგრამ მხოლოდ ამ ჟამს მივხვდი მის ზრახვას. იმით, რომ გამოვიქეცი, პანდორას ყუთი გავხსენი.\n\nეს დაწესებულება განზრახულია როგორც განზომილებათაშორისო საპყრობილე, აგებული ათასწლეულების წინ ძველთაძველების შესაკავებლად. აქ როგორ აღმოვჩნდი, ჩემთვის საიდუმლოა, თუმცა ის კი ვიცი რომ აქედან გასაღწევი გზა არ უნდა გამეხსნა.\n\nჩემს გამო ამ წუთში დედამიწას ესევა  წარმოუდგენელი საშინელებები. შეიძლება კი ამის გამოსწორება?"
Book_Journal4 = "მოგზაურის დღიური, გვერდი 4\n\nშესაძლოა ვიპოვე გზა განვდევნო ის სიბოროტე, რომლიც ჩემს გამო სამყაროს შეესია. ჩემი კვლევის დროს ვისწავლე \"ბმის რიტუალი\", რომელიც ჯადოქრებმა გამოიყენეს ძველისძველების შესაჩერებლად, როცა სამყარო მათი საფრთხის წინაშე იდგა. \n\nბმის რიტუალი სრულდება უძველესი სიტყვების წარმოთქმით, რაც დაიჭერს მტერს უსასრულო საკანში, რომელიც იჭიმება განზომილებათა უსასრულობაში; მას შემდეგ კი, ერთი ადამიანი მსხვერპლად და საპყრობელის სამარადისო დარაჯად რჩება. \n\nრიტუალი შეიძლება შეიცვალოს სამი სანთლის ანთებით. სანთელი  მტრებს შეიტყუებს საპყრობელის შუაგულში და იქ დააძინებს.\n\nუძველესი ჩანაწერი მეტყველებს დამატებით ნაბიჯზე, რომლის მიხედვით დარაჯის სული თავისუფლდება შემცვლელის მიძღვნით; თუმცა წერილის ეს ნაწილი დროში არის დაკარგული."
Book_Sprint = "სირბილი\n\nგაქცევისთვის დააჭირე და არ გაუშვა #{n:EldritchInput:Run}.\n\nგასრიალებისთვის, სირბილის დროს\nდაიკუზე (#{n:EldritchInput:Crouch})."
Book_Crouch = "დაკუზვა\n\nდაკუზვისთვის, დააჭირე #{n:EldritchInput:Crouch}.\n\nდაკუზულ მდგომარეობაში შესაძლებელია გაეტიო მცირე ზომის\nგასასვლელებში, და სიარულის დროს\nნაკლებ ხმას გამოსცემ.\n\nგასრიალებისთვის, სირბილის დროს\nდაიკუზე (#{n:EldritchInput:Crouch})."
Book_Jump = "ხტუნვა\n\nასახტომად, დააჭირე #{n:EldritchInput:Jump}.\n\nდააჭირე და არ გაუშვა კიდესკენ გადახტომის დროს,\nრათა ხელით ჩაეჭიდო და აცოცდე."
Book_Lean = "გადმოხრა\n\nდააჭირე #{n:EldritchInput:LeanLeft} იმისთვის, რომ გადმოიხარო მარცხნივ.\nდააჭირე #{n:EldritchInput:LeanRight} რომ გადაიხარო მარჯვნივ.\n\nგადმოხრა არ მოქმედებს მტრისთვის შენს ხილვადობაზე,\nამიტომ გამოიყენე ეს კუთხეებიდან უსაფრთხოდ \nგამოჭვრეტისთვის."
Book_Artifact = "არტეფაქტები\n\nეს არაამქვეყნიური ქვის ნაკეთობები \nამ სამყაროში არის შენი მტავარი რესურსი.\n\nშეგიძლია მათ საშუალებით შეიძინო ნივთები, ან\nდახარჯო განსაკუთრებული ძალებისა და ხელსაწყოების \nგამოყენებისთვის."
Book_Hypnotize = "ჰიპნოზის ძალა\n\nდაუმიზნე არსებას და დააჭირე #{n:EldritchInput:UsePower} \n რომ ჰიპნოზში ჩააგდო.\n\nამ მდგომარეობაში არსება შენს მხარეს იბრძვის.\n\nიფრთხილე! ძლიერი გონების არსებები \nგამოფხიზლდებიან რაღაც დროის შემდეგ.\n\n საჭიროა გქონდეს \ue0f1 × #{i:PowerHypnotize:PowerCost} რომ გამოიყენო ჰიპნოზი."
Book_Build = "შეზღუდვის ძალა\n\nდააჭირე #{n:EldritchInput:UsePower} რომ გააჩინო მისტიური ზღუდე.\n\nგამოიყენე ისინი მტრის მოძრაობის შეზღუდვისთვის,\n ან რთულად მისაღწევ ადგილებში მისვლისთვის.\n\nიფრთხილე! ამ ძალის გამოყენებით\nშესაძლოა თავი მახეში გააბა.\n\nსაჭიროა გქონდეს \ue0f1 × #{i:PowerBuild:PowerCost} რომ გააჩინო ზღუდე."
Book_Lift = "აფრენის ძალა\n\nდააჭირე #{n:EldritchInput:UsePower} შენი თავის ჰაერში ასაგდებად.\n\nმისი გამოყენება ჰაერშიც კი შეიძლება,\nრითაც მიაღწევ ნებისმიერ სიმაღლეს.\n\nაფრენისთვის საჭიროა გქონდეს \ue0f1 × #{i:PowerLift:PowerCost}."
Book_Knock = "კაკუნის ძალა\n\nდააჭირე #{n:EldritchInput:UsePower} რომ დააკაკუნო.\n\nდაუმიზნე ჩაკეტილ კარს და გაიღება, ან\nდააკაკუნე სხვა ზედაპირზე მტრის სხვაგან გამოტყუებისათვის.\n\nკაკუნი საჭიროებს \ue0f1 × #{i:PowerKnock:PowerCost}."
Book_Teleport = "ტელეპორტის ძალა\n\nერთხელ დააჭირე #{n:EldritchInput:UsePower} რომ ისროლო ნიშნული.\nკიდევ ერთხელ #{n:EldritchInput:UsePower} რომ გაჩნდე მასთან.\n\nდააჭირე და გეჭიროს #{n:EldritchInput:UsePower} რომ ის დაიბრუნო,\n მერე აუშვი რომ ისევ ისროლო.\n\nნიშნულის სროლა და დაბრუნება \nუფასოა, ხოლო ტელეპორტის ძალა საჭიროებს \ue0f1 × #{i:PowerTeleport:PowerCost}."
Book_Cloak = "გაუჩინარების ძალა\n\nდააჭირე #{n:EldritchInput:UsePower} რომ გაუჩინარდე.\n\nამ დროს მტერი ვერ დაგინახავს.\n მოკლე ხანში ეფექტი გაივლის.\n\nიფრთხილე! იმისდა მიუხედავად, რომ უჩინარი\n ხარ - მტერს მაინც ესმის შენი ნაბიჯები.\n\nსაჭიროებს \ue0f1 × #{i:PowerCloak:PowerCost} ."
Book_PowerBroke = "ძალის ფასი\n\nძალების გამოყენებით იხარჯება არტეფაქტები. \nამჟამად არ გაქვთ საკმარისი არტეფაქტი მოცემული\n ძალის გამოყენებისთვის.\n\nიმოგზაურეთ მეტი და იპოვით ბევრს!"
Book_Weapons = "იარაღები და ნივთები\n\nდააჭირე #{n:EldritchInput:UseWeapon} რომ დაარტყა, მოისროლო ნივთი\nან გაისროლო იარაღი.\n\nდააჭირე #{n:EldritchInput:DropWeapon} რომ დააგდო ხელში დაჭერილი\n ნივთი.\n\nერთდროულად შეგიძლია ორი იარაღის ან ნივთის ტარება. დააჭირე #{n:EldritchInput:CycleUp}/#{n:EldritchInput:CycleDown} რომ გადართო მათ შორის."
Book_Water = "ეს წიგნი დაწერილია შენთვის \nუცნობ ენაზე.\n\nუცნაურ სიმბოლოებს რომ ავირდები,\nგეგონება რომ ისინი სცილდებიან ქაღალლდს და იღებენ \nიმ სამყაროებისა და არსებების აღმწერ \nარაამქვეყნიურ ფორმებს.\n\nსიტყვების ალყაში ხვდები, მათ მიყავხარ \nსადღაც შორს, გონება გევსება არაადამიანური ენის \nაუტანელი ზუზუნით.\n\nშერყეულმა, ხურავ წიგნს და ხედავ, რომ იმყოფები \nუცხო სამყაროში, ზუსტად იქ, რასაც აღწერდნენ \nის წყეული სიმბოლოები..."
Book_SandLocked = "ეს წიგნი შეკრულია უხილავი ძალით.\nყდაზე წარწერაა:\n\nამ ადგილს არ არის ღირსება.\nამ ტომში დატყვევებულია საშინელი ძალა.\nწიგნი შეკრულია დაგონის სულითა და \nსწორედ მისი სულით იქნება გახსნილი."
Book_Sand = "დაგონის სული გიჭირავთ \nდალუქული წიგნის წინაშე. სფერო საგრძნობლად გაწცვება თითებზე, \nძლიერად იწევა წიგნის ტყავის ყდისკენ.\n\nსადღაც შორს ისმის ქარის ღმუილი, ხოლო \nდატყვევებული სული მძვინვარებს.\nდაგონის ცოფის გაძლიერება იწვევს წიგნის ბეჭდის შესუსტებას.\n\nდამაყრუებელი სკდომის ხმა ავსებს ოთახს და \nბეჭედი ტყდება, ხოლო დაგონის სული ისევ მშვიდდება.\n\nგადაშლილი წიგნი ეცემა, მტვრიან გვერდებზე ხედავ \nგამოსახულ ელდრიჩისებრ სიმბოლოებს. \nუსახელო შიში გავსებს... \n\nწინ შემდეგი სამყარო გელის..."
Book_WorldUnlock = "შენ გახსენი შემდეგი სამყაროს წიგნი.\nის დარჩება გახსნილი შენი სიკვდილისა\nდა აღდგომის შემდეგაც კი."
Book_SwampLocked = "ეს წიგნი შეკრულია უხილავი ძალით.\nყდაზე წარწერაა:\n\nამ ადგილს არ არის ღირსება.\nამ ტომში დატყვევებულია საშინელი ძალა.\nწიგნი შეკრულია ნიარლათოტეპის სულითა და \nსწორედ მისი სულით იქნება გახსნილი."
Book_Swamp = "ნიარლათოტეპის სულის ჩუქებით, წიგნის\nბეჭედი მოიხსნა. შენს გონებაში\nძლიერმა შიშმა იღვიძა.\n\nშემდეგი სამყარო გელის..."
Book_ExitLibrary = "შენ ათავსებ ძველთაძველების სულებს\nკარის წინ. მოლოდინისგან, ისინი ზუზუნებენ და ბობქრობენ.\n\nმთელი ბიბლიოთეკა უეცრად შეძრა. წიგნები\nგადმოიყარა თაროებიდან, ხოლო კარები კვნესავენ\nკოლოსალური ურთიეთმოპირდაპირე ძალების ქვეშ.\nძველთაძველების არაამქვეყნიური ხმებისგან დაყრუებული, ხედავ თუ\nროგორი ძალით იღება კარი.\n\nშენს გონებაში ელვასავით, ხვდები რაც ჩაიდინე.\n\nგასასვლელი ღიაა.
Book_EndgameEnter = "ბიბლიოთეკიდან გადიხარ და გრძნობ როგორ მყარდება\nშენს გულში შიშის ამორფული კრისტალი.\nშენ გამოიყენე ძველისძველების სულები ბიბლიოთეკიდან\n თავდასაღწევად. მათ კი გამოგიყენეს საპყრობილედან გათავისუფლებისთვის.\n\nშენს გამო დედამიწას წარმოუდგენელი საშინელებები ესევა.\nშესაძლოა ვინმემ ისევ შეაჩეროს ისინი?"
Book_BadEnd = "ხმამაღლა კითხულობ შეკვრის რიტუალის უძველეს სიტყვებს.\n\nბიბლიოთეკაში მყოფი ძველთაძველები მასში ჩაკეტილები\nარიან და დედამიწას აღარ დაემუქრებიან.\n\nბევრმა კი მაინც თავი დააღწია საპყრობილედან და გარე\nსამყაროს მუსრს ავლებენ.\n\nშენ გააკეთე ის, რაც შეგეძლო - დაასრულე შეკვრის რიტუალი\nიმით, რომ შენი თავი გაწირე ბიბლიოთეკაში სამუდამოდ დარჩენისთვის,\nმისი მცველის როლში.\n\n\n\nდასასრული.\n\n\n\nთამაშების მცდელობა: #{i:HUD:GenerationsCounter}\n\nამ მცდელობის ხანგრძლივობა: #{i:HUD:PlayTimeM}წთ #{i:HUD:PlayTimeS}წმ"
Book_GoodEnd = "ხმამაღლა კითხულობ შეკვრის რიტუალის\nუძველეს სიტყვებს.\n\nძველთაძველების ცოფმა განვლო და ისინი წყნარდებიან,\nშენს მიერ ანთებული სანთლებით შეპყრობილნი.\nისინი მიედინებიან ბიბლიოთეკის შუაგულისკენ.\n\nშენი წყალობით დედამიწა უსაფთხოდაა.\nახლა კი ასრულებ შეკვრის რიტუალს\nიმით, რომ შენ თავს სწირავ ბიბლიოთეკაში სამუდამოდ\nდარჩენისთვის - მისი მცველის როლში. \n\n\n\nდასასრული.\n\n\n\nთამაშების მცდელობა: #{i:HUD:GenerationsCounter}\n\nამ მცდელობის ხანგრძლივობა: #{i:HUD:PlayTimeM}წთ #{i:HUD:PlayTimeS}წმ"
Book_TrueEnd = "ხმამაღლა კითხულობ შეკვრის რიტუალის\nუძველეს სიტყვებს.\n\nძველთაძველების ცოფმა განვლო და ისინი წყნარდებიან,\nშენს მიერ ანთებული სანთლებით შეპყრობილნი.\nისინი მიედინებიან ბიბლიოთეკის შუაგულისკენ.\n\nშენი წყალობით დედამიწა უსაფთხოდაა.\nახლა კი ასრულებ შეკვრის რიტუალს\nიმით, რომ შენს მაგივრად ტოვებ შემცვლელ სიმბოლოს\nურჩხულთა დარაჯის როლში.\nროგორც იქნა, თავისუფალი ხარ! ძველისძველებმა კი დაიძინეს...სამუდამოდ. \n\n\n\nდასასრული.\n\n\n\nთამაშების მცდელობა: #{i:HUD:GenerationsCounter}\n\nამ მცდელობის ხანგრძლივობა: #{i:HUD:PlayTimeM}წთ #{i:HUD:PlayTimeS}წმ"
Book_WaterSoul = "ხელში გიჭირავს უცნაური ლურჯი ბურთი.\nშეხებისთანავე ბზუილი და ძვრა დაიწყო,თითქოს\n შენი ხელის ჩამოფერთხვა უნდაო.\n\nთითები რომ გარშემო ეხვევიან ბურთს, შენს გონებაში\nხედავ უცნაურ გამოცხადებას: რომ ამ ცივ ლურჯა\nსფეროში, იღვიძებს ძველისძველი არსება\nდაგონის სული.\n\nშენი თვალების წინაშე გადის ხედვა, როგორც\nსიკვდილის შიშის დაკარგული მოგონება, უმართავი\nგანადგურება, მერე წმიდა რიტუალი და მძიმე მშვიდობა.\n\nგამოცხადება ქრება და მის მაგიერ გიჩნდება განუზომელი\nსიცარიელის გრძნობა. სიჩუმეში იძვრის დაგონის სული.\n\nგულში ხვდები, რომ შეგიძლია გახსნა ბიბლიოთეკის შემდეგი\nწიგნი."
Book_SandSoul = "ხელში იღებ უცნაურ წითელ ბურთს. ის ზუზუნებს და\n ირყევა ნიარლათოტეპის გაღვიძებისას. \nშენში გრძნობ შიშის მომგვრელ ტალღას.\n\nბიბლიოთეკაში გაიხსნა შემდეგი წიგნი."
Book_SwampSoul = "იჭერ უცნაურ მწვანე ბურთს.\nქთულჰუს გაღვიძების გამო, ის იწყებს მძიმე \nრყევას. ამის გააზრებაზე გაჟრჟოლებს.\n\nხელში სამივე სული გიჭირავს,\nახლა შეძლებ ბიბლიოთეკის კარის გაღებას."
Book_HardSoul = "მოგესალმებათ ახალი თამაში+!\n\nამ სულის აღებით თქვენ აამოქმედეთ \nელდრიჩის უფრო რთული ვერსია.\n\nეს ეფექტი გაუქმდება სიკვდილის შემთხვევაში."
Book_Soul = "სულები\n\nსული არის ძველთაძველი არსების მძინარე \nარსი, მიბმული ფიზიკურ ფორმაზე. \nსულები მოიძებნება ყოველი სამყაროს გულში \nდა გამოიყენება ბიბლიოთეკის წიგნების \nგასაშლელად. \n\nნათელია რომ სულების დედამიწაზე ამოტანა საშიში სულაც არ არის..."
Book_Death = "სიკვდილი\n\nროცა გამოგელევა ჯანი, მოკვდები.\n\nსიკვდილის შემდეგ, აღდგები ბიბლიოთეკაში.\n\nყველანაირ ქონებას დაკარგავ,\nბანკში შენახული არტეფაქტების გარდა.\nრა წიგნებსაც გადაშლი, გახსნილი დარჩება.\n\nნებისმიერ დროს შეგიძლია ახალი სიცოცხლის დაწყება, თამაშის მენიუში \"გაცოცხლება\" \nღილაკზე დაჭერით."
Book_Chest = "ბანკის სკივრი\n\nშეგიძლია შეინახო ნაპოვნი არტეფაქტები საბანკო\nსკივრებში. ჩადებული არტეფაქტების ამოღება\nშეიძლება სიკვდილის მერე ან სხვა სკივრიდან.\n\nსიკვდილის შემთხვევაში დაკარგავ ყველა ნივთს\nბანკში შენახული არტეფაქტების გარდა."
ook_Shop = "მაღაზია\n\nყველა მაღაზიაში არის ძვირფასი ნივთების არჩევანი.\n\nთუ ვერ ახერხებ რაიმეს ყიდვას, შეგიძლია \nსცადო მათი მოპარვა; თუ დაგიჭირეს, \nგამყიდველი ძალიან გაბრაზდება.."
Book_Gear = "ნივთები\n\nნივთები აუმჯობესებენ ან გაძლევენ სხვადასხვა \nუნარს, ისინი შეიძლება ჩაიცვა ან გაიკეთო.\n\nარსებობს მათი სამი სახეობა:\nჩექმები, კომპლექტი, მოწყობილობა.\n\nშეგიძლია ატარო თითო ნივთი თითო სახეობიდან."
Book_Lore1 = "ბიბლიოთეკის ისტორია, ტ. 1-ლი / 4-დან \n\nლეგენდა გვიამბობს ათასწლეულების წინ მომხდარი \nკატასტროფის შესახებ, რომლის დროს დედამიწა \nძველთაძველების რისხვის ქვეშ მოხვდა. რამოდენიმე \nგადარჩენილმა ადამიანმა აღმოაჩინა უძველესი რიტუალი, \nრომლითაც შეძლეს საშინელი არსებების ლაბირინთში დამწყვდევა. \nდედამიწაზე სიცოცხლე ისევ ჩქეფდა, გადარჩენილებმა კი \nდააარსეს სამყაროს მცველთა ორდენი, რათა \nდაეცვათ ეს საიდუმლო რიტუალი და \nსაპყრობილე."
Book_Lore2 = "ბიბლიოთეკის ისტორია, ტ. მე-2 / 4-დან\n\nრამოდენიმე ათასწლეულის განმავლობაში ძველთაძველებს \nსაპყრობილეში ეძინათ. მე-19 საუკუნის მიწურულს \nარაბეთში არქეოლოგებმა მიაგნეს დამწყდევის \nრიტუალის ჩატარების ადგილს. დიდმა რხევამ \nგანვლო მთელს კოსმოსში და გააღვიძა უძველესი \nარსებები. მივიწყებულმა საშინელებებმა იღვიძეს \nდა დედამიწა ისევ საფრთხის წინაშე აღმოჩნდა."
Book_Lore3 = "ბიბლიოთეკის ისტორია, ტ. მე-3 / 4-დან\n\nმეოცე საუკუნის დასაწყისში, როცა \nდედამიწა მეორედ დადგა ძველთაძველების  \nსაფრთხის წინაშე, მცველთა ორდენი შეიკრიბა \nნიუ-ინგლისში დამპყრობელი რიტუალის \nჩასატარებლად. წმინდა ადგილისთვის არჩეულ \nიქნა მცირე ბიბლიოთეკა, ხოლო ერთ-ერთ \nმონაწილეს - მეწიგნეს წილი ეყარა - მისი ბედი \nიყო ბიბლიოთეკაში დარჩენა და ძველი ღმერთებისაგან დაცვა."
Book_Lore4 = "ბიბლიოთეკის ისტორია, ტ. მე-4 / 4-დან\n\nნიუ-ინგლისის ერთ-ერთ მცირე \nბიბლიოთეკაში მცველთა ორდენმა მოაწყო ბმის \nწმინდა რიტუალი, რათა საპყრობილეში \nჩაეგდოთ ძველთაძველები. ორდენის \nერთ-ერთი ბერი არჩეულ იქნა ბიბლიოთეკის \nმცველად და დარჩა საპრყრობილესა შინა. \nორდენმა კი არ იცოდა, რომ რიტუალის დროს \nერთ-ერთმა მცდარმა სიტყვამ წაშალა მეწიგნეს \nმეხსიერება და გაუსუფთავა გონება..."
Book_Column = "საყრდენს აქვს მრგვალი ღრმული\nამოტვიფრული წარწერებით.\n\nროგორც ჩანს, აქ შეიძლება რაიმე სფერული \nობიექტის მოთავსება."
Book_Loot = "ნადავლი\n\nგაჩხრიკე გვამები არტეფაქტებისა,  ტყვიებისა და\nსხვა ნივთების მოსაძიებლად.\n\nთუ გაჩხრიკავ, ეს მტერი ხელახლა\nგაჩნდება სადმე იგივე რუქაზე."
Book_Sandals = "სანდლები\n\nმტრიანი სანდლების უბრალო წყვილი. ეს\nფეხსაცმელი არ აუმჯობესებს არც ერთ უნარს."
Book_ConsecrationKit = "შეწირვის კომპლექტი\n\nმცირე ხის ყუთი, რომლიც შეიცავს\nმსხვერპლშეწირვისთვის საჭირო ნივთებს."
Book_HolySymbol = "წმინდა სიმბოლო\n\nპატარა ქვის ფირფიტა, რომელზეც დატანილია რელიგიური \nნიშნები. არ აქვს განსაკუთრებული გამოყენება."
Book_JumpBoots = "ხტუნვის ჩექმები\n\nჩექმის ძირში ჩაშენებული ზამბარა გაძლევს\n საშუალებას ახტე ჩვეულებრივზე მაღლა."
Book_SpeedBoots = "ჩქაროსნული ჩექმა\n\nკაშკაშა ჩექმათა წყვილი მორთულია\nბუმბულებით.\n\nამ წყვილის ჩაცმა გაძლევს საშუალებას \nგაიქცე ჩვეულებრივზე სწრაფად.."
Book_QuietBoots = "მიპარვის ჩექმა\n\nჩექმათა ზომიერი წყვილის ძირი\nშერბილებულია.\n\nამ ჩექმების ჩაცმით ხმა ეხშობა\nთქვენს ფეხის ხმას."
Book_LocksmithKit = "ზეინკლის კომპლექტი\n\nმძიმე ნაჭრის ჩანთაში ჩადებულია\nსაკეტის გამხსნელები და სხვა ხელსაწყობი.\n\nამ კომპლექტის ტარება გაძლევთ საშუალებას\nგააღოთ ჩაკეტილი კარები გასაღების გარეშე.\nასეთი გზით გაღებული კარები სხვებისთვის ისევ ჩაკეტილი იქნება.\n\nგარდა ამისა, ამ კომპლექტის საშუალებით შეგიძლია ჩაკეტო\nღია კარი. ჩაკეტვა საჭიროებს \ue0f1 × #{i:LocksmithKit:LockPriceTag}."
Book_MedicalKit = "სამედიცინო კომპლექტი\n\nპლასტმასის ყუთში ჩადებულია ყველანაირი\nსამედიცინო საშუალებები.\n\nის გიცავს სასიკვდილო საშიშროებისაგან.\nსიკვდილისგან გადარჩენა საჭიროებს \ue0f1 × #{i:MedicalKit:RevivePriceTag}, სამაგიეროდ კი მისი გამოყენებათა რაოდენობა შეუზღუდავია.\n\nამ საშუალებით გაცოცხლება გაძლევს \n3 ჯანს."
Book_TinningKit = "საკონსერვო კომპლექტი\n\nნახმარი რკინის ყუთში ჩადებულია საჭმლის \nდაკონსერვებისთვის საჭირო ნივთები.\n\nეს კომპლექტი გაძლევს საშუალებას \nმოიმატო ჯანი მკვდარი არსებების \nშეჭმით (ადამიანების გარდა).\n\nარსების დაკონსერვება და შეჭმა საჭიროებს \ue0f1 × #{i:TinningKit:TinPriceTag}."
Book_Compass = "კომპასი\n\nუმარტივესი მაგნიტური კომპასი.\n\nკომპასი გაჩვენებს  არსებულ მნიშვნელოვან ადგილებს \nმინი-რუქაზე. ამათ შორის, ის გაჩვენებს \nგადასასვლელებს რუქიდან რუქაზე."
Book_Amulet = "გამანადგურებელი თილისმა\n\nმცირე ზომის ქვაზე ამოტვიფრული წითელი ვარსკვლავი.\n\nმისი ტარება აძლიერებს შენს შეტევებს, \nხოლო გასროლილ ტყვიებს აძლევს გარემოს \nგანადგურების საშუალებას."
Book_Charm = "იღბლიანი თილისმა\n\nმცირე ზომის ქვაზე გამოხატული \nოთხ-ფოთლიანი სამყურა.\n\nმისი ტარების შემთხვევაში, \nმოპოვებული ნადავლი იქნება უფრო მდიდარი."
Book_Talisman = "ჯადოქრის თილისმა\n\nმცირე ზომის ქვაზე გამოხატულია \nცისფერი გრიგალი.\n\nმისი ტარების შემთხვევაში, \nძალების გამოყენება საჭიროებს ნაკლებ \nარტეფაქტს."
Rm_Keys			= "გასაღები"
Rm_Statue		= "ქანდაკებები"
Rm_Food			= "საკვები"
Rm_Fountain		= "შადრევნები"
Rm_Artifact		= "არტეფაქტები"
Rm_Weapons		= "იარაღები და ნივთები"
Rm_Death		= "სიკვდილი"
Rm_Chest		= "ბანკის სკივრი"
Rm_Shop			= "მაღაზია"
Rm_Gear			= "ნივთები"
Rm_Loot			= "ნადავლი"
FishmanShopkeeperTalk = "თევზკაცა ქვითინით გიღიმის.\n\n\"მობრძანდი, მეგობარო! რამე იყიდე,\nგენაცვალე, ყლაპ ყლაპ! ძალიან  ბევრი\nხარისხიანი ნივთი მაქვს.\""
LizardmanShopkeeperTalk = "ხვლიკაცა ცივად მოგმართავს.\n\n\"აქ ყველასსს ვესსალმებით, უცცხოელო. შენ\nვერსსსად იპოვი უკეთესს ფასსს ასეთ\nხარისსხიან ნივთებზე.\""
SquidmanShopkeeperTalk = "ვარსკვლავის-შვილი ეჭვის თვალით გიყურებს.\n\n\"რამე იყიდე, ჰა?\""
Level_MoM-Start = "მთები"
Level_MoM-1 = "მთები-1"
Level_MoM-2 = "მთები-2"
Level_MoM-3 = "მთები-3"
Level_MoM-4 = "მთები-4"
Level_MoM-5 = "მთები-5"
Level_MoM-6 = "მთები-6"
Level_MoM-7 = "მთები-7"
Level_MoM-8 = "მთები-8"
Level_MoM-9 = "მთები-9"
Level_MoM-Boss = "მთები-10"
Rest = "დასვენება" # (დაისვენე ცეცხლთან და აღადგინე ძალები)
StokeCampfire = "დანთება (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "კოცონი"
CampfireStoked = "კოცონი (გაჩაღებული)"
CampingKit = "კოცონის საწვავი"
CampingKitDesc = "გაძლევს საშუალებას კოცონში ჩაამატო საწვავი და აღიდგინო მეტი ჯანმრთელობა."
Soapstone = "საპნისქვა"
Hatchet = "ნაჯახი"
HatchetDesc = "კარების ჩამოღებისთვის მოსახერხებელი იარაღი."
Pickaxe = "წერაქვი"
PickaxeDesc = "უხარისხო იარაღი - გამოიყენება ქვისა და ყინულის გატეხვისთვის. მოხმარების მერე ტყდება."
Ropegun = "მთასვლელის თოფი"
RopegunDesc = "გაისვრის თოკიან კაუჭს, რომელის ეჭიდება მყარ ზედაპირს."
ClimbingBoots = "მთასვლელის ფეხსაცმელი"
ClimbingBootsDesc = "ეს ფეხსაცმელი გიცავს დაცემის ზიანისგან და არ იწვევს ლოლოების ჩამოვარდნას."
PowerSummon = "მოხმობა"
StatueSummon = "ზეთიანი ქანდაკება"
PowerFlare = "ნათება"
StatueFlare = "გავარვარებული ქანდაკება"
PlaneKeys = "თვითმფრინავის გასაღები"
Book_MoM = "...ეს წიგნი ადრეც აქ იყო?\n\nმისი ფურცლები ველურად აფრიალდნენ როცა შენს გარშემო ამოვარდა გამყინვარე ქარი.\n\nშეშლილობის მთები გელიან..."
Book_PlaneNoKeys = "თვითმფრინავის გასაღები დაკარგულია. მათ გარეშე გაფრენა შეუძლებელია."
Book_PlaneWithKeys = "გასაღების აალების საკეტში დატრიალებისას, თვითმფრინავის\nძრავმა მძიმედ დაახველა.\n\n შენ ცდილობ არ იფიქრო დანახულ საშინელ ძველისძველ \nმოვლენებსა და არსებებზე. თვითმფრინავი დაიძრა და დაიწყო აფრენა, შენ კი ისევ უყურებ ამ უცნაური მთების არაამქვეყნიურ მონოლითურ ფორმებს; მთელს ტანში დაგძრავს:\n\nმთებს რომ გაექეცი სიცოცხლე კი შეინარჩუნე, მაგრამ შერაცხადობა?"
Book_CampingKit = "სალაშქრო კომპლექტი\n\nგამძლე ტომარაში ჩადებულია სალაშქრო \nხელსაწყოები.\n\nამ კომპლექტით შეიძლება \nკოცონის გაჩაღება. ცეცხლთან ბანაკის გაშლა \nდა დასვენება გიმატებს ერთ დამატებით ჯანს.\n\nდაბანაკება საჭიროებს \ue0f1 × #{i:CampingKit:StokePriceTag}."
Book_ClimbingBoots = "მთასვლელის ჩექმები\n\nმთაზე სავლელი ჩექმები ძირიდან გამოშვერილი წვეტებით.\n\nსანამ გაცვია ეს ჩექმა, უსაფრთხოდ \nხტები დიდი სიმაღლიდან; ლოლოებიც \nაღარ ჩამოვარდება მათ ქვეშ გავლის დროს."
Book_Soapstone = "საპნისქვა\n\nსაპნისქვის მომწვანო, ვარსკვლავისებრი ნატეხი. ზეგავლენა არ აქვს."
Book_Summon = "გამოძახების ძალა\n\nდააჭირე #{n:EldritchInput:UsePower} რომ გამოიძახო შეუჩერებელი შოგოთი.\n\nის თავს დაესხმევა ყველაფერს რასაც \nდაინახავს, შენის ჩათვლით!\n\n გამოძახება საჭიროებს \ue0f1 × #{i:PowerSummon:PowerCost}."
Book_Flare = "კაშკაშა ძალა\n\nდააჭირე #{n:EldritchInput:UsePower} რომ გაისროლო მისტიური კაშკაშა.\n\nის დროებითად გაგინათებს გზას და მოიპყრობს \nმტრების ყურადღებას.\n\nგასროლა საჭიროებს \ue0f1 × #{i:PowerFlare:PowerCost}."
ShoggothShopkeeperTalk = "შოგოთი რაღაცას გიბუტბუტებს."
SquidmanFriendlyShopkeeperTalk = "ვარსკვლავის-შვილისგან თბილი სალამი.\n\n\"მობრძანდი, მეგობარო! რამეს ხომ არ შეიძენდი ჩემგან?\""
Airplane = "თვითმფრინავი"
RIPDmgIcicles = "თავზე ლოლო დაეცა"
RIPDmgPenguin = "პინგვინის ცემით მოკვდა"
RIPDmgElderThingMelee = "შეჭმული იქნა ძველისძველი არსების მიერ"
RIPDmgElderThingRanged = "ძველისძველი არსების ნასროლით მოკვდა"
RIPDmgMigo = "მი-გოს ცემით მოკვდა"
RIPDmgMigoExplode = "მოიწამლა მი-გოს ხორცით"
RIPDmgYCultistMelee = "მოკვდა იოგ-სოთოთის მიმდევრის ცემით"
RIPDmgYCultistRanged = "მოკვდა იოგ-სოთოთის მიმდევრის ნასროლით"
RIPLvlMoM = "შეშლილობის მთები"
ResurrectAsylum = "გაცოცხლება საგიჟეთში"
ConfirmAsylum = "თუ გადახვალ საგიჟეთში, დაკარგავ მიმდინარე წინსვლას. ნამდვილად გსურს გადასვლა?"
Book_Asylum = "...ეს წიგნი ადრეც აქ იყო?\n\nმისი ფურცლები იწვიან და შავი ბოლისგან თვალების აგეწვა.\n\nსაგიჟეთი გელის..."
Book_Azathoth = "ამ სამყაროს აზათოთი გამოეცხადა!\n\nის დაგედევნება სანამ საგიჟეთში იქნები. იმოძრავე სწრაფად, რათა თავი აირიდო აზათოთის ქაოსის მიერ შთანთქვას!"
Book_SoulGrinder = "სულების მჭამელი ტანჯვით ამუშავდა როცა მასში მოათავსე დაჭერილი სულები..\n\nეს დაკარგული სულები, ამ შემზარავ საგიჟეთში ათასწლიანი ტყვეობის შემდეგ, ბოლოსდაბოლოს გათავისუფლებულია.\n\nშენ გაათავისუფლე #{i:HUD:Souls} სული."
Leaderboards = "რეიტინგები"
LB_PlayTime = "უმოკლესი დრო"
LB_Souls = "უმეტესი სული"
LBM_Global = "უმეტესი ქულა"
LBM_Local = "შენი ქულა"
LBM_Friends = "მეგობრების ქულები"
PowerSoulTrap = "სულის დაჭერა"
StatueSoulTrap = "ცარიელი ქანდაკება"
Book_SoulTrap = "სულების დამჭერი ძალა\n\nდაუმიზნე არსებას და დააჭირე #{n:EldritchInput:UsePower} რომ გაანადგურო ის და დაიჭირო \nმისი სული.\n\nსაჭიროებს \ue0f1 × #{i:PowerSoulTrap:PowerCost}."
Soulstone = "სულისქვა"
Book_Soulstone = "სულისქვა\n\nპრიალა, ბრტყელ ქვაზე დატანილია იდუმალი სიმბოლო.\n\nამ ქვის ტარებით დაიჭერ უფრო \nმეტ სულს მათი დაჭერის შემთხვევაში."
TrappedSouls = "დაჭერილი სულები"
SoulGrinder = "სულების მჭამელი"
Level_Asylum-Start = "საგიჟეთი"
Level_Asylum-1 = "საგიჟეთი-1"
Level_Asylum-2 = "საგიჟეთი-2"
Level_Asylum-3 = "საგიჟეთი-3"
Level_Asylum-Final = "საგიჟეთი"
RIPDmgACultistRanged = "მოკვდა აზათოთის მიმდევრის ნასროლით"
RIPDmgACultistMelee = "მოკვდა აზათოთის მიმდევრის ცემით"
RIPDmgAzathoth = "შეიჭამა აზათოთის მიერ"
RIPLvlAsylum = "საგიჟეთი"

# Common stuff here
Georgian = "ქართული"