[Ukrainian]
True = "Ввімк"
False = "Вимк"
OK = "Гаразд"
Yes = "Так"
No = "Ні"
Play = "Грати"
Options = "Опції"
Quit = "Вийти"
PressStart = "Натисніть «Enter»"
Rm_PressStart = "Натисніть #{n:EldritchInput:TitleStart}"
ConfirmQuit = "Вийти?"
ConfirmSaveAndQuit = "Зберегти та Вийти?"
BindControls = "Прив'язати Клавіші"
Controls = "Керування"
MouseSpeed = "Чутливість Мишки:"
InvertY = "Перевернута Вісь Y:     #{b:InvertY}"
Resolution = "Розширення:   #{i:DisplayWidth} × #{i:DisplayHeight}"
SetRes = "Розширення"
Fullscreen = "Повний Екран:   #{b:Fullscreen}"
Brightness = "Яскравість"
FOV = "Поле Зору:"
Volume = "Рівень Звуків:"
MusicVolume = "Рівень Музики:"
Back = "Назад"
BindForward = "Йти Вперед:"
BindBack = "Йти Назад:"
BindLeft = "Йти Ліворуч:"
BindRight = "Йти Праворуч:"
BindJump = "Стрибок:"
BindFrob = "Використати:"
BindLeanLeft = "Нахилитися Ліворуч:"
BindLeanRight = "Нахилитися Праворуч:"
BindRun = "Бігти:"
BindCrouch = "Повзти:"
BindUseWeapon = "Застосувати Зброю:"
BindUsePower = "Застосувати Силу:"
BindDropWeapon = "Кинути Зброю:"
BindCycleUp = "Попередня Зброя:"
BindCycleDown = "Наступна Зброя:"
BindDialog = "Натисніть клавішу, щоб прив'язати.\nНатисніть «Esc», щоб вийти.\nНатисніть «Backspace», щоб скасувати."
Rm_BindDialog = "Натисніть клавішу, щоб прив'язати.\nНатисніть «Esc», щоб вийти."
Paused = "Призупинено"
Resume = "Повернутися"
ReturnToHub = "Повернутися"
Resurrect = "Відродитися"
SaveAndQuit = "Зберегти та Вийти"
Death = "Ви загинули..."
ConfirmResurrect = "Відродитися? (Ви втратите\nваші поточні досягнення.)"
Souls = "Душі"
Gear = "Інвентар"
PowerHypnotize = "Гіпноз"
PowerBuild = "Матеріалізація"
PowerLift = "Підкидування"
PowerKnock = "Поштовх"
PowerTeleport = "Телепортація"
PowerCloak = "Невидимість"
BankPlayer = "У кишені"
BankBank = "У скрині"
Price = "Ціна:"
Buy = "Купити"
Steal = "Поцупити"
Cancel = "Скасувати"
Dying = "Ви помираєте..."
Revive = "Вилікуватися"
FrobHold = "Затисніть #{n:EldritchInput:Frob} #{c:HUD:HoldVerb}"
RIPFormat = "|ВІЧНИЙ СПОМИН| Я %s у %s."
RIPDmgUnknown = "помер"
RIPDmgResurrect = "знехтував життям"
RIPDmgPlayer = "зробив велику помилку"
RIPDmgSpikes = "наткнувся на шипи"
RIPDmgBarnacle = "засмутив гіганського барнакла"
RIPDmgFishmanMelee = "помер від рук риболюда"
RIPDmgFishmanRanged = "був застрелений риболюдом"
RIPDmgDCultistMelee = "помер від рук болотного культиста"
RIPDmgDCultistRanged = "був застрелений болотним культистом"
RIPDmgNCultistMelee = "помер від рук піщаного культиста"
RIPDmgNCultistRanged = "був застрелений піщаним культистом"
RIPDmgRCultistMelee = "помер від рук слизистого культиста"
RIPDmgRCultistRanged = "був застрелений слизистим культистом"
RIPDmgLizardmanMelee = "помер від рук людоящера"
RIPDmgLizardmanRanged = "був застрелений людоящером"
RIPDmgEye = "помер від пострілу летючого ока"
RIPDmgShoggoth = "був розтоптаний невпинним шогготом"
RIPDmgLizardWatson = "повернувся спиною до моторошної статуї"
RIPDmgMummy = "був з'їдений мерзенною мумією"
RIPDmgSquidmanMelee = "помер від рук породження зірок"
RIPDmgSquidmanRanged = "був застрелений породженням зірок"
RIPDmgPolyp = "помер від пострілу летючого поліпу"
RIPDmgBugMelee = "був укушений жуком"
RIPDmgBugRanged = "був застрелений жуком"
RIPDmgFoodPoisoning = "помер від харчового отруєння"
RIPDmgShopkeeper = "недооцінив продавця"
RIPDmgTrapBolt = "не помітив пастки"
RIPLvlUnknown = "поодинокому місці"
RIPLvlLibrary = "таємничій бібліотеці"
RIPLvlEndgame = "неймовірно величезній бібліотеці"
RIPLvlWater = "понурих руїнах Дагоніту"
RIPLvlSand = "запиленому храмові Н'ярлатотепа"
RIPLvlSwamp = "загубленому місті Р’льєха"
RIPLvlSubspace = "моторошному, темному місці"
JumpBoots = "Стрибучі Чоботи"
JumpBootsDesc = "Ці чоботи дають вам змогу\nстрибати вище."
SpeedBoots = "Швидкісні Чоботи"
SpeedBootsDesc = "Ці чоботи дають вам змогу\nбігти швидше."
QuietBoots = "Крадкі Чоботи"
QuietBootsDesc = "Ці чоботи роблять ваші кроки менш галасними."
LocksmithKit = "Набір Слюсара"
LocksmithKitDesc = "Дозволяє відчиняти замкнені\nдвері чи навпаки ставити\nзамок за невелику вартість."
MedicalKit = "Медичний Набір"
MedicalKitDesc = "Дозволяє оживити себе\nпісля смерті, за додаткову\nвартість."
TinningKit = "Консервний Набір"
TinningKitDesc = "Дозволяє харчуватися трупами певних істот за додаткову вартість."
Bottle = "Пляшка"
BottleDesc = "Киньте, аби здійняти галас чи нанести шкоди ворогу."
Revolver = "Револьвер"
RevolverDesc = "Солідна вогнепальна зброя. Потребує набоїв. Три кулі включено в ціну."
Snaregun = "Арбалет"
SnaregunDesc = "Ставить пастки на будь-якій поверхні. Три кулі включено в ціну."
Compass = "Компас"
CompassDesc = "Показує напрямок виходу."
Charm = "Талісман Вдачі"
CharmDesc = "За допомогою нього\nвам буде більше щастити\nна речі знайдені у трупів."
Amulet = "Амулет Розрушень"
AmuletDesc = "Збільшує шкоду від зброї,\nкулі будуть знищувати міс-\nцевість"
Talisman = "Талісман Чаклуна"
TalismanDesc = "Зменшує ціну за використання особливих сил."
Key = "Ключ"
KeyDesc = "Відчиняє двері.\nВикористовується лише раз."
Dagger = "Клинець"
DaggerDesc = "Двосічний бойовий ніж. Сила та радіус дії більше, ніж у кулака."
Dynamite = "Вибухівка"
DynamiteDesc = "Зв'язані докупи палиці\nпросякнуті нітрогліцерином.\nВибухонебезпечні та вкрай\nнестабільні!"
MeatDesc = "Відновлює частину вашого\nздоров'я."
Corpse = "Труп"
Shopkeeper = "Продавець"
WaterSoul = "Душа Дагона"
SandSoul = "Душа Н'ярлатотепа"
SwampSoul = "Душа Ктулху"
HardSoul = "Душа Бібліотекара"
Rock = "Камінець"
Chest = "Скриня"
ExitDoor = "Вихід"
ExitDoorUp = "Вхід"
Book = "Книга"
WorldBook = "Таємнича Книга"
SubspaceBook = "Запилена Книга"
Door = "Двері"
LockedDoor = "Замкнені Двері"
GateDoor = "Замкнені Залізні Двері"
UnlockedGateDoor = "Залізні Двері"
Mirror = "Дзеркало"
DeskLamp = "Настільна Лампа"
Toilet = "Унітаз"
Sink = "Умивальник"
Artifact = "Артефакт"
Artifact5 = "Жменя Артефактів"
StatueHypnotize = "Гіпнотичний Ідол"
StatueCloak = "Окутний Ідол"
StatueBuild = "Кремезний Ідол"
StatueLift = "Гнучкий Ідол"
StatueKnock = "Лункий Ідол"
StatueTeleport = "Нестабільний Ідол"
Meat = "Запечене М'ясо"
BadMeat = "Зіпсоване М'ясо"
Fountain = "Фонтанчик"
Pedestal = "П'єдестал"
Plant = "Фрукти"
PlantToxic = "Токсичні Фрукти"
HolySymbol = "Священний Символ"
ConsecrationKit = "Набір Освячення"
Sandals = "Шльопанці"
Candle = "Свічка"
RitualBook = "Ритуал Утримання"
FullGame = "Повна Гра"
PickUp = "Підібрати"
Examine = "Дослідити"
Loot = "Обшукати"
Read = "Читати"
Eat = "З'їсти"
EatUnsure = "...З'їсти?"
EatCorpse = "З'їсти (\ue0f1 × #{i:TinningKit:TinPriceTag})"
LockDoor = "Поставити Замок (\ue0f1 × #{i:LocksmithKit:LockPriceTag})"
Go = "Вперед"
Return = "Повернутися"
Pray = "Молитися"
Open = "Відкрити"
Close = "Закрити"
Quaff = "Випити"
Disarm = "Знешкодити"
Light = "Засвітити"
Switch = "Перемкнути"
Flush = "Злити"
Use = "Використати"
Talk = "Побалакати"
World = "Світ"
Level_Library = "Бібліотека"
Level_Water-1 = "Дагон-1"
Level_Water-2 = "Дагон-2"
Level_Water-3 = "Дагон-3"
Level_Sand-1 = "Н'ярлатотеп-1"
Level_Sand-2 = "Н'ярлатотеп-2"
Level_Sand-3 = "Н'ярлатотеп-3"
Level_Swamp-1 = "Р'льєх-1"
Level_Swamp-2 = "Р'льєх-2"
Level_Swamp-3 = "Р'льєх-3"
Level_Endgame-1 = "Бібліотека-1"
Level_Endgame-2 = "Бібліотека-2"
Level_Endgame-3 = "Бібліотека-3"
Level_Subspace = "Невідомо"
Credits = "Про Гру"
Book_Controls = "Керування\n\nЯкщо вас не влаштовує стандартне керування, ви можете змінити його у розділі «Опції»."
Book_Keys = "Ключі\n\nКлючі потрібні для відкривання дверей.\n\nКожен ключ може бути використаний лише один раз."
Book_Statue = "Ідоли\n\nЦі величезні кам'яні ідоли зображують якихсь жахливих істот, ніколи не бачених на Землі. Молитва до наповнює вас з особливою силою від Стародавніх."
Book_Food = "Їжа\n\nЇжа відновлює частину вашого здоров'я.\n\nБудьте обачними! Харчування зіпсованою чи отруйною їжею може заподіяти вам шкоди."
Book_Fountain = "Фонтанчики\n\nСьорбання з фонтанчику відновлює частину вашого здоров'я та збільшує його максимальний рівень.\n\nФонтанчики опустошуються після одноразового використання."
Book_Ledger = "Бібліотека «Elder Ridge»\nЖурнал Відміток\n\n  Номер  |   Позичальник     |  Дата\n---------------------------------------\n  9713   | Дж. К. Піппен     | 10/12/26\n  5576   | Кім Путман        | 10/15/26\n  4185   | Кен Тадсон, Еск.  | 12/03/26\n  6287   | Кайнан Вейлс      | 01/29/27\n  0451   | Ф. Б. Ґейнор      | 02/04/27\n  2934   | Стюарт Джеймсон   | 02/15/27\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /\n         |                   |   /  /"
Book_Journal = "Щоденник Дослідника, Сторінка 2\n\nЦя бібліотека немає кінця і краю. Я не певен, що вихід взагалі є. Таке відчуття, неначе я переживаю ті самі події, день за днем, без кінця.\n\nЯкщо з цього божевілля й можна якось вибратися, то це пов'язано з цими «непристойно» світними книгами. У цих сторінках – неймовірна сила, і водночас невимовний жах...\n\nЗдається, у цих книгах спочивають древні божества, хоча я не знаю, чому саме. Якщо зібрати їхні сили докупи – це може стати моїм ключем до визволення від мук у цьому лабіринті..."
Book_Journal2 = "Щоденник Дослідника, Сторінка 1\n\nДещо дуже незвичне трапилося зі мною. Я відчуваю, що потрібно записати це, на випадок того, якщо я не вийду звідси живим.\n\nОстаннє, що я пригадую, я розглядав дивну книгу у бібліотеці... А тепер я у в небезпечному світі, повному чудовиськ та підступних пасток...\n\nЯкщо мої здогадки правильні, я перебуваю у загубленому храмові стародавнього бога Дагона. Могутня реліквія, за чутками, зберігається у глибинах цього світу.  Можливо це – моя єдина можливість вибратися звідси..."
Book_Journal3 = "Щоденник Дослідника, Сторінка 3\n\nО, Боже, ні. Я не розумів, що я кою. Я знайшов вихід з цієї бібліотеки, але тільки тепер я збагнув куди він веде. Своєю спробою втекти я відкрив скриньку Пандори.\n\nБібліотека є міжпросторовою в'язницею, створеною тисячі років тому, для утримання Стародавніх. Яким чином сюди потрапив я – залишається лише здогадкою, але ясно одне, що вихід назовні не має бути відчиненим, не дивлячись ні на що.\n\nНеймовірні жахи цього світу вільно розсіюються по Землі через мене. Чи можливо знову заточити їх тут?.."
Book_Journal4 = "Щоденник Дослідника, Сторінка 4\n\nЗдається я знайшов вихід, як зупинити те зло, яке сам мимоволі звільнив. У моїх дослідженнях я дізнався з «Ритуалу утримання», що люди заточили Стародавніх у цьому місці, коли ті востаннє загрожували Землі.\n\nРитуал утримання включає у себе промовляння вголос стародавніх слів, що заточуюють загарбників в нескінченній в'язниці, що охоплює невідомі розміри; а потім одна людина мала погодитися стати вічним хранителем в'язниці.\n\nРитуал може бути укріпленим засвіченням трьох свічок. Свічки заманять цілей в саме серце в'язниці та введуть їх у вічний сон. Стародівні тексти говорят про ще один крок, у якому обов'язок хранителя замінює якийсь священний предмет, але подальші деталі загубилися з часом."
Book_Sprint = "Біг\n\nНатисніть та утримуйте #{n:EldritchInput:Run}, щоб бігти.\n\nПід час бігу, присядьте (#{n:EldritchInput:Crouch}),\nщоб виконати плавне ковзання."
Book_Crouch = "Повзання\n\nНатисніть #{n:EldritchInput:Crouch}, щоб повзти.\n\nПовзучи, ви зможете вписатися в невеликі щілини, ваші кроки будуть здіймати менше галасу.\n\nВикористайте, коли біжете (#{n:EldritchInput:Run}),\nщоб виконати ковзання."
Book_Jump = "Стрибання\n\nНатисніть #{n:EldritchInput:Jump}, щоб стрибнути.\n\nНатисніть та затримайте клавішу стрибка, якщо хочете зачепитися за край і підтягнутися вгору."
Book_Lean = "Нахил\n\nНатисніть #{n:EldritchInput:LeanLeft}, щоб нахилитися ліворуч. Натисніть #{n:EldritchInput:LeanRight}, щоб нахилитися праворуч.\n\nВороги вас не помітять вас, якщо ви нахилитесь, тож ви зможете використовувати це, щоб безпечно зазирнути за рога, залишаючись непоміченим."
Book_Artifact = "Артефакти\n\nЦі позаземні різьблені камінці – ваш головний ресурс у цьому світі.\n\nЗа них ви можете придбати товари, чи витратити їх, щоб активувати особливі сили та інструменти."
Book_Hypnotize = "Гіпноз\n\nНаведіть на істоту та натисніть #{n:EldritchInput:UsePower}, щоб загіпнотизувати її.\n\nЗагіпнотизовані істоти будуть боротися за вас.\n\nБудьте обачними! Сильні волею істоти можуть зняти гіпнотичний вплив через короткий час.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerHypnotize:PowerCost}."
Book_Build = "Матеріалізація\n\nНатисніть #{n:EldritchInput:UsePower}, щоб начаклувати бар'єр.\n\nВикористовуйте ці бар'єри, щоб блокувати шлях ворогові, чи отримати доступ важкодоступних місць.\n\nБудьте обачними! Використовуючи цю силу можна забарикодувати шлях самому собі.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerBuild:PowerCost}."
Book_Lift = "Підкидування\n\nНатисніть #{n:EldritchInput:UsePower}, щоб підкинути себе догори.\n\nПідкидування може бути використане навіть коли ви у повітрі, що дозволяє дістатися до бажаної висоти.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerLift:PowerCost}."
Book_Knock = "Поштовх\n\nНатисніть #{n:EldritchInput:UsePower}, аби відштовхунути.\n\nНаведіть на замкнені двері, щоб вибити їх, чи на будь-яку іншу поверхню, щоб відволікти від зпоглядання навколо ворогів, створивши галас.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerKnock:PowerCost}."
Book_Teleport = "Телепортація\n\nНатисніть #{n:EldritchInput:UsePower} один раз, щоб «кинути якора».\nНатисніть #{n:EldritchInput:UsePower} знову, щоб переміститися туди.\n\nНатисніть та затримайте #{n:EldritchInput:UsePower}, щоб «підняти якора» , відпустіть, аби кинути заново.\n\n«Перекидувати якір» можна за дурняк.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerTeleport:PowerCost}."
Book_Cloak = "Невидимість\n\nНатисніть #{n:EldritchInput:UsePower}, щоб стати невидимим.\n\nКоли ви невидимі вороги вас не бачать.\nДія закінчується через короткий час.\n\nБудьте обачними! Вороги все ще\nможуть чути вас.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerCloak:PowerCost}."
Book_PowerBroke = "Ціна за Сили\n\nЗа використання сил вам доведеться заплатити артефактами. У вас недостатньо кошт для цього!\n\nТож гайда шукати!"
#Book_Direction = "Будьте обачними! Ви ввійшли до небезпечного світу, повного чудовиськ та підступних пасткок. Могутня реліквія зберігається в глибинах цього світу. Вглибтеся в ці історії, аби отримати реліквію та продовжити свою подорож."
Book_Weapons = "Зброя та Предмети\n\nНатисніть #{n:EldritchInput:UseWeapon}, щоб завдати удару, жбурнути предмет, чи використати зброю.\n\nНатисніть #{n:EldritchInput:DropWeapon}, щоб кинути предмет з правої руки.\n\nВи можете носити з собою дві зброї або предмета водночас. Натисніть #{n:EldritchInput:CycleUp}/#{n:EldritchInput:CycleDown} для перемикання між ними."
Book_Water = "Ця книга була написана мовою, яку вам не зрозуміти.\n\nВдивляючись у ті дивні символи, можна було помітити, що вони неначе виходили поза межі сторінок, приймаючи на себе неземні форми світів та істот, які вони описують.\n\nСлова оточили вас, затуманивши бібліотеку та сповнення вашого розуму з нестерпним дзижчанням до-людської мови.\n\nЗпереляку, ви стали намагатися закрити книгу, але вас перемістило в чужий світ описаний в її сторінках..."
Book_SandLocked = "Небачена сила втримувала цю книгу закритою. Напис на обкладинці свідчив:\n\nУ цьому місці немає почесті. Страшна сила заточена у цій книзі. Вона була заточена Душею Дагона, тож лише Душа Дагона могла звільнити її знову."
Book_Sand = "Ви підібрали Душу Дагона та піднесли її до книги. Сфера тиснула у пальці, намагаючись дістатися до шкіряної поверхні.\n\nЗдалеку було чутно, як вирує вітер, як і душа у ваших руках. Лють Дагона посилювалася, сила, що утримувала книгу закритою не витримала.\n\nКімната розкололася з великим гуркотом, оскільки печатка тріснула. Зрештою душа Душа Дагона заспокоїлася.\n\nКнига впала додолу, відкрилися запилені сторінки повні моторошних символів. Невимовний жах сповнив вас.\n\nНаступний світ чекає..."
Book_WorldUnlock = "Ви розблокували книгу, що веде до наступного світу. Книги залишаться розблокованими, навіть якщо ви помрете, чи відродитеся."
Book_SwampLocked = "Небачена сила втримувала цю книгу закритою. Напис на обкладинці свідчив:\n\nУ цьому місці немає почесті. Страшна сила заточена у цій книзі. Вона була заточена Душею Н'ярлатотепа, тож лише Душа Н'ярлатотепа могла звільнити її знову."
Book_Swamp = "Ви підібрали Душу Н'ярлатотепа, та сила, яка утримувала книгу закритою не витримала. Глибокий страх надовго закарбувався у вашому розумі.\n\nНаступний світ чекає..."
Book_ExitLibrary = "Ви розмістили душі Стародавніх перед дверима. Вони гуділи в очікуванні.\n\nБібліотека сильно здригнулася. Книги почали падати з полиць, двері не витриали тиску сил, які чинили опір. Неземні голоси Стародвніх зростали до оглушливого рівня, нарешті, двері відчинилися.\n\nУсвідомлення почали формуватися у вашому розумі.\n\nВи вільні."
Book_EndgameEnter = "Ви почали підніматися з глибин бібліотеки, але страх закарбувався у вашому серці.\n\nЯк ви використовували Стародавніх, щоб вибратися з бібліотеки – так вони використали  вас, щоб звільнитися зі своєї в'язниці.\n\nНеймовірні жахи цього світу вільно розсіюються по Землі через мене. Чи можливо знову заточити їх тут?"
Book_BadEnd = "Ви промовили вголос древні слова риталу утримання.\n\nСтародавні назавжди заточені у межах бібіліотеки, і більше нічим не загрожували Землі. Однак, ще багато з них до цих пір лютували поза межами бібліотеки.\n\nНе виконавши останнього кроку ритуалу ви будете змушені назавжди залишитися у бібіліотеці, у якості хранителя.\n\n\n\n                Кінець\n\n\n\nГенерацій зіграно: #{i:HUD:GenerationsCounter}"
Book_GoodEnd = "Ви промовили вголос стародавні слова риталу утримання.\n\nПідпалені вами свічки, заспокоїли Стародавніх, зупинили їхню лють та змусили мляво дибуляти у напрямку самого серця бібліотеки.\n\nНе виконавши останнього кроку ритуалу ви будете змушені назавжди залишитися у бібіліотеці, у якості хранителя.\n\n\n\n                Кінець\n\n\n\nГенерацій зіграно: #{i:HUD:GenerationsCounter}"
Book_TrueEnd = "Ви промовили вголос стародавні слова риталу утримання.\n\nПідпалені вами свічки, заспокоїли Стародавніх, зупинили їхню лють та змусили мляво дибуляти у напрямку самого серця бібліотеки.\n\nПісля того, як вони були надійно заточені, ви могли виконати останній крок ритуалу: розміщення священного символу на заміну вам, вартувати Стародавніх.\n\nНарешті ви звільнилися з бібліотеки. Стародавні заснули, назавжди...\n\n\n\n                Кінець\n\n\n\nГенерацій зіграно: #{i:HUD:GenerationsCounter}"
Book_WaterSoul = "Ви підібрали дивну синю кульку. Вона гула та тряслася у відповідь на ваші дотики, немов намагалася вирватися на свободу.\n\nТримаючи пальці міцніше навколо неї, ви почали розуміти, що у тій неземній сфері знаходилася душа стародавнього божества Дагона, яка почала прокидатися.\n\nВсе побачене раптом почало проходити крізь ваш розум: давно забуті спогади про смертельний страх, неконтрольовані руйнування, таємні ритуали та моторошний світ.\n\nБачення розсіювалося, поступаючись місцем жахливому відчуттю порожнечі. Душа Дагона мовчки ворушилася.\n\nТепер ви можете розблокувати наступну книгу у бібліотеці."
Book_SandSoul = "Ви підібрали дивну червону кульку. Вона сильно тряслася, неначе прокидався Н'ярлатотеп. Хвиля жахіть мчала над вами.\n\nТепер ви можете розблокувати наступну книгу у бібліотеці."
Book_SwampSoul = "Ви підібрали дивну зелену кульку. Вона сильно тряслася, неначе прокидався Ктулху. Ви ніяк не могли повірити у те, що сталося.\n\nЗ усіма трьома душами, у вашому розпорядженні, ви зможете розблокувати двері з бібліотеки."
Book_HardSoul = "Ласкаво просимо до «New Game+»!\n\nПідібравши цю душу, ви активуєте складнішу версію Eldritch'а.\n\nПісля смерті ефект зітреться."
Book_Soul = "Душі\n\nУ стані спокою душі Стародавніх перебувають у фізичній формі. Їх можна знайти у глибинах того, чи іншого світу.\n\nДуші використовуються для розблокування книг у бібліотеці.\n\nЗвісно, процес перенесення душі Старця на Землю, не заподіє ніякої вагомої шкоди..."
Book_Death = "Смерть\n\nКоли ваше здоров'я вичерпується, ви помираєте.\n\nПісля смерті ви відродитеся у бібліотеці.\n\nВсе ваше надбання буде втрачено, крім артефактів покладених до скрині та розблокованих вами книг.\n\nУ будь-який момент ви можете почати гру заново, натиснувши «Відродитися» у меню паузи."
Book_Chest = "Скриня\n\nВи можете покласти ваші артефакти на збереження, до скрині. Відкладені артефакти можна забрати назад у цій, чи іншій скрині.\n\nПісля смерті все ваше надбання зникає, а артефакти покладені у скриню зберігаються."
Book_Shop = "Купівля\n\nКожен магазин має три відділи, як у інвентарі.\n\nЯкщо ви не можете дозволити собі ціну, ви можете спробувати вкрасти бажаний предмет, але цим ви розізлите продаця."
Book_Gear = "Інвентар\n\nУ ньому носиться обладнання, яке покращує ваші навички, чи задіює нові.\n\nІнвентар ділиться на три категорії:\nКниги, набори, та пристрої.\n\nВи можете носити по одному предметові до кожної категорії."
Book_Lore1 = "Історія Бібліотеки, Част. 1 з 4\n\nЛегенди свідчать про катастрофічну подію, що сталася тисячі років тому, коли Земля викликала гнів Глибоководних. Єдині, хто залишився у живих пізнали стародавній обряд, який вони використовували, щоб заточити жахливих істот у лабіринті-в'язниці. Життя на землі знову процвітало, ті хто залишилися у живих сформували монастир хранителів, щоб зберегти таємний ритуал утримання."
Book_Lore2 = "Історія Бібліотеки, Част. 2 з 4\n\nТисячі років минули, Глибоководні спочивали у своїй в'язниці. Наприкінці 19го сторіччя археологи розкопали в Аравії місце, де було виконано ритуал утримання. Незгоди прорвалися через структуру космосу та збудили стародавніх істот. Забуті жахи посіялися далі, тож Земля знову опинилася на вістрі голки."
Book_Lore3 = "Історія Бібліотеки, Част. 3 з 4\n\nНа початку 20го сторіччя, коли Глибоководні загрожували Землі вдруге, хранителі вдруге зібралися у Новій Англії, щоб провести ритуал утримання знову. Скромна бібліотека була обрана місцем проведення обряду, хранителі обрали одного поміж них «Бібліотекарем», залишитися у в'язниці і захистити її від подальших незгод."
Book_Lore4 = "Історія Бібліотеки, Част. 4 з 4\n\nУ невеликій бібліотеці в Новій Англії, хранителі виконали таємний ритуал утримання, щоб заточити Стародавніх. Бібліотекар, обраний поміж хранителів для захисту цього місця, був замкнений разом з жахливими істотами. Інші хранителі навіть не помітили, що сказане випадково слово під час ритуалу стерло розум та спогади Бібліотекара..."
Book_Column = "П'єдестал має пусту в'яминку з дивними викарбуваними візерунками.\n\nСхоже, що у неї може бути поміщений сферичний об'єкт."
Book_Loot = "Обшукування Трупів\n\nОбшукуючи трупи можна знайти кулі, артефакти та інші корисні предмети.\n\nПісля обшуку ворог може відродитися десь на цьому ж рівні."
Book_Sandals = "Шльопанці\n\nСкрома пара запилених шльопанців.\nНемають нікої прямої користі."
Book_ConsecrationKit = "Набір для Освячення\n\nНевеликий дерев'яний ящик, що містить різні знаряддя для благословення, чи освячення людини або предмету."
Book_HolySymbol = "Священний Символ\n\nНевеличкий камінець з релігійним викарбуванням. Немає ніякої помітної користі."
Book_JumpBoots = "Стрибучі Чоботи\n\nПара міцних чобіт з пружинами, встановленими на підошвах.\n\nВдагнувши ці чоботи ви зможете стрибати вище, ніж зазвичай."
Book_SpeedBoots = "Швидкісні Чоботи\n\nПара яскравих чобіт прикрашених пір'ям.\n\nВзувши ці чоботи ви зможете бігти швидше, ніж зазвичай."
Book_QuietBoots = "Крадкі Чоботи\n\nСкромна пара чобіт з м'якими підошвами.\n\nВзувши ці чоботи ваші кроки здійматимуть менше галасу."
Book_LocksmithKit = "Набір Слюсара\n\nВажкий брезентовий мішок, що містить різні відмички та інші інструменти.\n\nТримаючи при собі цей набір ви зможете відкривати замкнені двері, не витрачаючи ключів. Двері відкриті таким чином залишаються зачиненими для всіх інших.\n\nЦей набір також дозволяє ставити замок на відчинені двері, звісно не безкоштовно, а за \ue0f1 × #{i:LocksmithKit:LockPriceTag}."
Book_MedicalKit = "Медичний Набір\n\nПластикова валіза, що містить різні медичні засоби.\n\nТримаючи при собі цей набір ви зможете легко вилікуватися від смертельних ушкоджень. Це коштуватиме вам \ue0f1 × #{i:MedicalKit:RevivePriceTag}. Набір не може використовуватися безмежну кількість разів.\n\nВикористання цього набору відновлює вам три життя."
Book_TinningKit = "Консервний Набір\n\nЗношена металева коробка, який містить різне обладнання для тривалого збереження продуктів.\n\nТримаючи при собі цей набір ви зможете їсти трупи ворогів, щоб відновити своє здоров'я.\n\nЦе коштуватиме вам \ue0f1 × #{i:TinningKit:TinPriceTag}."
Book_Compass = "Компас\n\nЗвичайний магнітний компас.\n\nТримаючи при собі компас ви будете бачити всі ключові місця на мінімапі. Tакож, компас вказує на вихід з поточного рівню."
Book_Amulet = "Амулет Розрушень\n\nНевеличкий камінець з зображенням червоної зірочки.\n\nТримаючи при собі цей амулет ваші атаки стануть сильнішими, а кулі стануть руйнувати тверді поверхні, як стіни, чи підлога."
Book_Charm = "Талісман Вдачі\n\nНевеличкий камінець з зображенням чотирьохлисної конюшини.\n\nТримаючи цей талісман при собі шанс отримання більшої кількості речей обшукуючи трупи ворогів збільшиться."
Book_Talisman = "Талісман Чаклуна\n\nНевеличкий камінець з зображенням синього вихру.\n\nТримаючи цей талісман при собі ціна за використання особливих сил стане вигіднішою для вас."
Rm_Keys			= "Ключі"
Rm_Statue		= "Ідоли"
Rm_Food			= "Їжа"
Rm_Fountain		= "Фонтанчики"
Rm_Artifact		= "Артефакти"
Rm_Weapons		= "Зброя та Предмети"
Rm_Death		= "Смерть"
Rm_Chest		= "Скриня"
Rm_Shop			= "Купівля"
Rm_Gear			= "Інвентар"
Rm_Loot			= "Обшукування Трупів"
FishmanShopkeeperTalk = "Риболюд щиро усміхається до вас.\n\n«Вітаю, незнайомцю! Будь-ласка, придбайте щось, ґлуп ґлуп! У моєму магазині є дуже багато файних речей.»"
LizardmanShopkeeperTalk = "Людоящер невибагливо кинув на вас погляд.\n\n«Я радий всссім, хто сссюди завітає. Більш ніде ви не знайдете кращих цін на такі якісссні товари.»"
SquidmanShopkeeperTalk = "Породження зірок підозріло зиркнуло на вас.\n\n«Шосі купиш, чи як?»"
CurrentLanguage = "Мова: #{l:Language}"
Language = "Мова"
Display = "Графіка"
Audio = "Звуки"
ControllerSpeed = "Чутливість Джойстика:"
Level_MoM-Start = "Хребти"
Level_MoM-1 = "Хребти-1"
Level_MoM-2 = "Хребти-2"
Level_MoM-3 = "Хребти-3"
Level_MoM-4 = "Хребти-4"
Level_MoM-5 = "Хребти-5"
Level_MoM-6 = "Хребти-6"
Level_MoM-7 = "Хребти-7"
Level_MoM-8 = "Хребти-8"
Level_MoM-9 = "Хребти-9"
Level_MoM-Boss = "Хребти-10"
Rest = "Відпочити"
StokeCampfire = "Розпалити (\ue0f1 × #{i:CampingKit:StokePriceTag})"
Campfire = "Багаття"
CampfireStoked = "Багаття (Розпалене)"
CampingKit = "Набір для Туризму"
CampingKitDesc = "Дозволяє розпалювати багаття, для отримання більше життів."
Soapstone = "Жировик"
Hatchet = "Сокира"
HatchetDesc = "Дужа зброя, що добре підійде, для виколювання дверей."
Pickaxe = "Кайло"
PickaxeDesc = "Швидкоруч зроблений інструмент для проламування каміння та льоду. Ламається після тривалого використання."
Ropegun = "Гак 'о' Стріл"
RopegunDesc = "Вистрелює гаком прикріпленим до канату, по якому можна залізти на будь-яку тверду поверхню."
ClimbingBoots = "Скелелазні Чоботи"
ClimbingBootsDesc = "Ці чоботи врятують вас від шкоди падіння, викликають падіння бурульок."
PowerSummon = "Наклик"
StatueSummon = "Покірний Ідол"
PowerFlare = "Спалах"
StatueFlare = "Засліплюючий Ідол"
PlaneKeys = "Ключі від Літака"
Book_MoM = "...Ця книга раніше тут була?\n\nСторінки книги по дикому шарпалися, неначе крижаний вітер звивався навколо вас.\n\nХребти безумства чекають..."
Book_PlaneNoKeys = "У вас немає ключів від літака. Без них ви не зможете взлетіти."
Book_PlaneWithKeys = "Двигун літака покашлював, коли ви повернули ключ у замку запалювання.\n\nВи намагалися не згадувати про неймовірно давні речі, яким ви були свідками. Коли літак здійнявся у небо ви озирнулися на дивну гору з її неземними продовгуватими формами, холод пройшов крізь ваше тіло.\n\nВи вибралися живими, але як там ваша психіка?"
Book_CampingKit = "Набір для Туризму\n\nМіцний полотняний мішок, що містить туристичне обладнання.\n\nЗа допомоги нього можна розвести багаття. Відпочинок біля розведеного багаття відновлює сили.\n\nЦе коштуватиме вам \ue0f1 × #{i:CampingKit:StokePriceTag}."
Book_ClimbingBoots = "Скелелазні Чоботи\n\nСтильні похідні чоботи з шипованою підошвою.\n\nВзувши ці чоботи вам не буде наноситися шкода від падінь, а бурульки не опадатимуть, коли ви проходите під ними."
Book_Soapstone = "Жировик\n\nЗеленкуватий зіркоподібний шматок жировику. Немає жодної користі."
Book_Summon = "Наклик\n\nНатисніть #{n:EldritchInput:UsePower}, щоб накликати невпинного шоггота.\n\nШоггот атакуватиме все, що бачить, включаючи вас!\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerSummon:PowerCost}."
Book_Flare = "Спалах\n\nНатисніть #{n:EldritchInput:UsePower}, щоб викликати містичний спалах.\n\nСпалах освітлюватиме ваш шлях протягом\nкороткого часу та відволікатиме\nворогів.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerFlare:PowerCost}."
ShoggothShopkeeperTalk = "Шоггот нерозбірливо бурмоче до вас."
SquidmanFriendlyShopkeeperTalk = "Породження зірок тепло вітає вас.\n\n«Ласкаво прошу, друже! Чи не бажаєш придбати щось у моєму скромному магазинчику?»"
Airplane = "Літак"
RIPDmgIcicles = "проколов своє тіло падаючою бурулькою"
RIPDmgElderThingMelee = "помер від рук Старця"
RIPDmgElderThingRanged = "був застрелений Страцем"
RIPDmgMigo = "помер від рук Мі-го"
RIPDmgMigoExplode = "отруївся трупом Мі-го"
RIPDmgYCultistMelee = "помер від рук Йог-Cототового культиста"
RIPDmgYCultistRanged = "був застрелений Йог-Cототовим культистом"
RIPLvlMoM = "хребтах безумства"
ResurrectAsylum = "Відродитися у Психлікарні"
ConfirmAsylum = "Ви втратите ваші поточні досягнення ввійшови до Психлікарні. Ви впевнені, що бажаєте це зробити?"
Book_Asylum = "...Ця книга раніше тут була?\n\nСторінки книги палали, а їдкий дим від вогню пік очі.\n\nПсихлікарня чекає..."
Book_Azathoth = "Азатот раптово постав у цьому світі!\n\nВін переслідуватиме вас до тих пір, доки ви не залишитеся у Психлікарні назавжди. Рухайтеся швидко, аби цей жахливий кошмар не поглинув вас!"
Book_SoulGrinder = "Спопеляч Душ з гуркотом пробудився, коли ви зпорожнили зібрані вами зневолені душі до іржавого горну.\n\nЦі згублені духи були замкнені тут цілими віками, нарешті вони отримали жадану свободу.\n\nВи звільнили #{i:HUD:Souls} душ."
Leaderboards = "Найкращі Pезультати"
LB_PlayTime = "Найшвидший Час"
LB_Souls = "Найбільше Душ"
LBM_Global = "Найкращі Рахунки"
LBM_Local = "Ваш Рахунок"
LBM_Friends = "Рахунки Друзів"
PowerSoulTrap = "Пастка Душ"
StatueSoulTrap = "Засмоктуючий Ідол"
Book_SoulTrap = "Пастка Душ\n\nНаведіть на створіння та натисніть #{n:EldritchInput:UsePower}, аби знищити його та поневолити душу.\n\nЦе коштуватиме вам \ue0f1 × #{i:PowerSoulTrap:PowerCost}."
Soulstone = "Камінь Душ"
Book_Soulstone = "Камінь Душ\n\nГладенький плаский камінь, що несе на собі дивний символ.\n\nТримаючи при собі цей камінь кількість душ, які ви отримуєте підбираючи Зневолені Душі збільшиться."
TrappedSouls = "Зневолені Душі"
SoulGrinder = "Спопеляч Душ"
Level_Asylum-Start = "Психлікарня"
Level_Asylum-1 = "Психлікарня-1"
Level_Asylum-2 = "Психлікарня-2"
Level_Asylum-3 = "Психлікарня-3"
Level_Asylum-Final = "Психлікарня"
RIPDmgACultistRanged = "був застрелений Азатотовим культистом"
RIPDmgACultistMelee = "помер від рук Азатотового культиста"
RIPDmgAzathoth = "був поглинений Азатотом"
RIPLvlAsylum = "Психлікарні"
BigJack = "Ліхтар Джека"
TrickOrTreat = "Випросити Солодощів"
Level_Halloween-1 = "Хелоуїн"
RIPDmgHCultistRanged = "помер від рук Хелоуїнського культиста"
RIPDmgHCultistMelee = "був застрелений Хелоуїнським культистом"
RIPLvlHalloween = "світі пітьми"

# Common stuff here
Russian				= "Русский"
Ukrainian			= "Українська"